<html>

<head>
<title>New Page 4</title>
</head>

<body>
<strong>

<p ALIGN="CENTER"><big>THE LOTUS SUTRA</big></strong></p>

<blockquote>
  <blockquote>
    <blockquote>
      <p><big><strong>Sad-|-dharma-|-pundarika</strong></big></p>
    </blockquote>
  </blockquote>
</blockquote>

<blockquote>
  <blockquote>
    <blockquote>
      <strong><p><big>&quot;Fine&quot; Law Lotus Flower</big></p>
      </strong>
    </blockquote>
  </blockquote>
</blockquote>

<blockquote>
  <blockquote>
    <blockquote>
      <strong><p><big>&quot;True&quot; Lotus blossom</big></p>
      </strong>
    </blockquote>
  </blockquote>
</blockquote>

<blockquote>
  <blockquote>
    <blockquote>
      <strong><p><big>&quot;Wonderful&quot; White Lotus</big></p>
      </strong>
    </blockquote>
  </blockquote>
</blockquote>

<p><big>The <em>Lotus Sutra</em> was composed in some local dialect of India or Central
Asia (100 BCE-100 CE). It was later put into Sanskrit form, copies of which have now been
found.</big></p>

<p><big>255 CE: first Chinese translation; 406 CE: Kumarajiva's Chinese translation is
considered to be the best translation. 69,384 characters, 8 sections, 24 chapters. Verses
(<em>gathas</em>) first; prose parts added.</big></p>

<p><big>The Buddha preached it over eight years. To the six realms of existence in early
Buddhism, Mahayana adds four higher levels:</big></p>

<p><big>1. Hell--Avichi hell the lowest</big></p>

<p><big>2. Hungry ghosts</big></p>

<p><big>3. Animals</big></p>

<p><big>4. Humans</big></p>

<p><big>5. Asuras--Titans, demons, anti-gods</big></p>

<p><big>6. Gods</big></p>

<p><big>7. <em>Shravakas</em> &quot;voice-hearers&quot; saved simply by hearing and
following the Buddha</big></p>

<p><big>8. <em>Pratyeka-buddhas</em> &quot;self-enlightened ones&quot;</big></p>

<p><big>9. Boddhisattvas</big></p>

<p><big>10. Buddhas--merged with Dharmakaya?</big></p>

<p><big>Main message of <em>Lotus sutra</em>: all beings can aim straight for level ten.
Even the most evil person will be saved, including Devadutta, the Buddha's evil cousin.
Enlightenment of the <em>naga</em> girl (chapter 12). Even a female animal can be directly
saved.</big></p>

<p><big>Chapter 25: Bodhisattva Avalokiteshvara (Perceiver of the World's Sounds&quot;;
Kuan-yin in Chin; Kannon in Japan) takes on 33 different forms to match any being who is
willing to be saved--male, female, animal, etc.</big></p>

<p><big>Those assembled include 12,000 monks; 6,000 nuns, including the Buddha's adopted
mother Mahaprajapati (Gautami), and his wife Yashodhara. Each had 6,000 and 4,000
accompanying nuns respectively. There were 80,000 Bodhisattvas (8 x 10<sup>6</sup>?);
innumerable gods; 8 naga kings; 16 other assorted kings; and the King of Magadha and
thousands of his followers.</big></p>

<p><big>Equality of women in Mahayana but still sexism, e.g. one woman after gaining great
merit (chapter 23) is reborn as a male</big></p>

<blockquote>
  <blockquote>
    <blockquote>
      <blockquote>
        <p><strong><font FACE="Times New Roman" SIZE="5" COLOR="#000000">The pot vs. prism analogy</font></strong></p>
      </blockquote>
    </blockquote>
  </blockquote>
</blockquote>
<font FACE="Times New Roman" SIZE="5" COLOR="#000000">

<blockquote>
  </font><font FACE="Times New Roman" COLOR="#000000" size="4"><p>Prism analogy explicitly
  shows plural world to be illusory. Absolute monism</p>
  <p>Pots and other clay things are still separate things. Ocean/wave. Pantheism.</font></p>
  <p><img src="pantheism.jpg" alt="pantheism.jpg (39765 bytes)" width="720" height="540"></p>
</blockquote>

<p><p:colorscheme colors="#FFFFFF,#000000,#000000,#000000,#FF9900,#00FFFF,#FF0000,#969696" /></p>
<div v:shape="_x0000_s2050" class="O"><div
style="mso-line-spacing:&quot;100 20 0&quot;;mso-margin-left-alt:216"><span
style="font-size:133%"><span
style="mso-special-format:bullet;position:absolute;
left:-3.56%">

<p>&#149;</span>Prism analogy explicitly shows plural world to be illusory.<span
style="mso-spacerun: yes">&nbsp; </span>Absolute monism </span></p>

<p><span style="font-size:133%"><span
style="mso-special-format:bullet;position:absolute;
left:-3.54%">&#149;</span>Pots and
other clay things are still separate things.<span style="mso-spacerun: yes">&nbsp; </span>Ocean/wave.<span
style="mso-spacerun: yes">&nbsp; </span>Pantheism. </span></p>
<span style="font-size:133%"><span
style="mso-special-format:bullet;position:absolute;
left:-4.17%">

<p>&#149;</span>All dharmas are the same Dharmakaya. </span></p>
<span style="font-size:133%"><span
style="mso-special-format:bullet;position:absolute;
left:-4.06%">

<p>&#149;</span>Same in substance only or totally identical? </span></p>
<span style="font-size:133%"><span
style="mso-special-format:bullet;position:absolute;
left:-4.17%">

<p>&#149;</span>&#147;Is&#148; of Identity vs. &#147;Is&#148; of predication </span></p>

<blockquote>
  <blockquote>
    <blockquote>
      <p><strong><font FACE="Times New Roman" SIZE="5" COLOR="#000000">The &quot;is&quot; of
      predication</font></strong></p>
    </blockquote>
  </blockquote>
</blockquote>
</div></div><div v:shape="_x0000_s2050" class="O"><div
style="mso-line-spacing:&quot;100 20 0&quot;;mso-margin-left-alt:216"><font
FACE="Times New Roman" SIZE="5" COLOR="#000000">

<blockquote>
  </font><font FACE="Times New Roman" COLOR="#000000" size="4"><p>The house is white.</p>
  <p>The pot is made of clay.</p>
  <p>The ocean, waves, and rivers are water.</p>
  <p>Jesus is divine (along with other spiritual beings).</p>
  <p>Atman is divine.</p>
  <p>The world is divine.</p>
  <p>Pantheism uses the &quot;is&quot; of predication.</font></p>
  <blockquote>
    <blockquote>
      <p><strong><font FACE="Times New Roman" COLOR="#000000" size="5">The &quot;is&quot; of
      identity</font></strong></p>
    </blockquote>
  </blockquote>
  <font FACE="Times New Roman" COLOR="#000000" size="4"><p>The morning star is the evening
  star.</p>
  <p>Atman is Brahman.</p>
  <p>Jesus is God</p>
  <p>If Jesus is a Jew, then God is a Jew.</p>
  <p>If Jesus is born of Mary, then God is born of Mary. <i>Reductio ad absurdum</i>.</p>
  <p>Absolute monism uses the &quot;is&quot; of identity.</font></p>
</blockquote>
</div>

<p ALIGN="CENTER"><big><strong>KALUPAHANA ON THE LOTUS SUTRA</strong></big></p>
</div>

<p><big>Main message: One path and goal for all. Simile of the pots, made of the same
clay, to hold different things (types of persons). One vehicle (clay) for all. All <em>dharmas</em>
(here: beings, entities) are the same ultimately = Dharmakaya. Individual pots have no
reality?</big></p>

<p><big>Three Stages of Reality/Knowledge</big></p>

<p><big>I. Sensual World of Attachment. People are trapped in Samsara</big></p>

<p><big>II. The stage of the arhats, shravakas, and pratekeya-buddhas (the last two are on
the seventh and eight levels of perfection respectively). A belief in momentary
non-substantial dharmas, most closely associated with Abhidharma realism.</big></p>

<p><big>III. The stage of the Lotus-sutra. All dharmas are One, which is described as
&quot;non-arisen&quot; and &quot;non-ceased&quot; (beginningless and endless),
&quot;unbound&quot; (infinite), and &quot;unreleased&quot; (not released), as in &quot;not
released&quot; from Samsara. The true Buddha experiences non Nirvana, if it defined as
being released from Samsara. All of us are already in Nirvana, the One, the Dharmakaya.</big></p>

<p><big>II = Small Vehicle = Hinayana, while III = Great Vehicle = Mayanana</big></p>

<p><big>The Small Vehicle is split into two subvehicles: the Shravakas and
Pratekeya-Buddhas, making for the three vehicles sometimes mentioned in the Lotus Sutra.</big></p>
<em>

<p><big>Lotus Sutra</em>'s equivalent of Plato's Parable of the Cave:</big></p>

<p><big>1. First world people are blind.</big></p>

<p><big>2. The scales on their eyes are removed as they are enlightened by the Sun
(=Buddha).</big></p>

<p><big>3. They all merge with the Sun.</big></p>

<p><big>1. If the blind people are substantialists (Hindus?);</big></p>

<p><big>2. Then the second people are those who have discovered &quot;dependent arising'
(nonsubstantialism);</big></p>

<p><big>3. So the third group are those who have transcended (2) to ultimate reality, viz.
Dharmakaya.</big></p>

<p><big>What is the difference between (1) Atman = Brahman and (3) our Buddha natures =
Dharmakaya? At least for Ikeda, the latter is still dynamic and interrelational in its
unity of parts.</big></p>

<p><big>173: Conceptual transcendentalism only? Kalup suggests?</big></p>

<p><big>Level (3) is the Buddha as the embodiment of universal knowledge and compassion,
but not a divine substance??</big></p>

<p><big>134: Concrete individuals have no place in the <em>Lotus</em>. Analogous to
individual pots.</big></p>

<p><big>The conceptual pragmatism and virtue ethics of the Buddha becomes in the <em>Lotus</em>
a duty ethics of unconditional self-sacrifice.</big></p>

<p><big>The <em>Lotus</em> encourages acquiescence to the absolute Buddha, achieved
through faith. &quot;Sacrifice of one's own happiness, and even life, becomes an ideal way
of life.&quot; Seen already in Jataka Tales.</big></p>

<blockquote>
  <blockquote>
    <blockquote>
      <p><strong><font FACE="Times New Roman" COLOR="#000000" size="5">Nagarjuna supports Lotus?</font></strong></p>
    </blockquote>
  </blockquote>
</blockquote>
<font FACE="HACC Indic" COLOR="#000000" size="4">

<p></font><font COLOR="#000000" size="4"><font face="Times New Roman">&quot;Unrelinquished,
unattained, unannihilated, not permanent, unarisen, uncaused: This is how Nirvana is
described&quot; (25.3).</font></p>

<p><font face="Times New Roman">Positive Transcendentalism?</font></font><font
FACE="HACC Indic" COLOR="#000000" size="4"></p>
</font><font FACE="Times New Roman" COLOR="#000000" size="4">

<p>We are already and always one with the Dharmakaya.</p>

<p>Nirvana is Samsara; Samsara is Nirvana.</font></p>

<blockquote>
  <blockquote>
    <blockquote>
      <p><strong><font FACE="Times New Roman" COLOR="#000000" size="5">Ethics of the Lotus</font></strong></p>
    </blockquote>
  </blockquote>
</blockquote>
<font FACE="Times New Roman" COLOR="#000000" size="4">

<p>The conceptual pragmatism and virtue ethics is now gone.</p>

<p>Lotus: an ethics of duty and total self- sacrifice.</p>

<p>Lotus encourages acquiescence to the absolute Buddha, achieved through faith. </p>

<p>&quot;Sacrifice of one's own happiness, and even life, becomes an ideal way of
life.&quot;</p>

<p>Already in Jataka Tales.</font></p>
</body>
</html>


