<html>

<head>
<title>Summary of Chinese Philosophy</title>
</head>

<body>

<p><big><big><big><b>Summary Achievements of Chinese Philosophy</b></big></big></big></p>

<p><big><big>I. Balanced Form of Humanism</big></big></p>

<blockquote>
  <blockquote>
    <blockquote>
      <p><img src="humcirc2.jpg" alt="humcirc2.jpg (36291 bytes)" width="720" height="540"></p>
      <blockquote>
        <blockquote>
          <blockquote>
            <blockquote>
              <p><big><big>(For more detail see the next diagram)</big></big></p>
            </blockquote>
          </blockquote>
        </blockquote>
      </blockquote>
    </blockquote>
  </blockquote>
  <p><big><big>Confucius really ought to appear in the middle but is placed at the top to
  balance out European philosophy's lack of &quot;heart.&quot;&nbsp; Herbert Fingarette's
  classic book title <em>Confucius: the Secular as Sacred</em> sums up beautifully his
  belief that holy rites are human rites and has nothing to do with otherworldly hopes.
  &nbsp; The Chinese word <em>xin</em> is best translated as &quot;heart-mind,&quot; because
  the Confucians make no distinction between the intellect and the affective parts of the
  soul.&nbsp; The Daoists generally agree with this point.</big></big></p>
</blockquote>

<blockquote>
  <blockquote>
    <blockquote>
      <p><img src="humcirc.jpg" alt="humcirc.jpg (31816 bytes)" width="720" height="540"></p>
      <p><big><big>Note: Daoism, generally speaking, cannot be called a humanism because of its
      deemphasis on human interests and values.</big></big></p>
    </blockquote>
  </blockquote>
</blockquote>

<p><big><big>II.&nbsp;&nbsp;&nbsp;&nbsp; The Cosmic Triad of Heaven, Earth, and Human
Beings. </big></big></p>

<blockquote>
  <blockquote>
    <blockquote>
      <blockquote>
        <blockquote>
          <blockquote>
            <blockquote>
              <blockquote>
                <blockquote>
                  <p><img src="summar1.gif" alt="wpe4.gif (1943 bytes)" align="left" width="104" height="303"></p>
                </blockquote>
              </blockquote>
            </blockquote>
          </blockquote>
        </blockquote>
      </blockquote>
    </blockquote>
  </blockquote>
</blockquote>

<p><big><big><big>&nbsp;</big></big></big></p>

<p><big><big><big>Heaven (Tian)</big></big></big></p>

<p>&nbsp;</p>

<p><big><big><big>Human Beings (Ren)</big></big></big></p>

<p>&nbsp;</p>

<p><big><big><big>Earth (Di)</big></big></big></p>

<p><big><big>They are equiprimordial (i.e., not being originated by the other) and each
has its own integrity and duties to perform.&nbsp; Heaven is predictable, orderly, and
constant, serving as a model for political rule and perfect virtue.&nbsp; Humans can
speak, think, and sing the praises of Heaven and Earth.&nbsp; Earth provides the five
elements, the five metals, and all the other basic constituents of life.&nbsp; Heaven does
not encroach on humans and humans do not take on Heaven's prerogatives.&nbsp; This means
that Heaven does not come to Earth as an &quot;incarnation&quot; and humans cannot become
divine.&nbsp; Chinese philosophy therefore is the best answer to <a href="steab.htm">Spiritual
Titanism</a>.&nbsp; Chinese popular religion does not always respect the Cosmic Triad.
&nbsp; The Daoist might say that the Confucians are spiritual Titans because they give
such a grand cosmic place for human beings.</big></big></p>

<p><big><big>III. Evil is not an agent nor a thing (body/matter). It is a lack of balance
and harmony Yin and Yang. This idea does not appear in any explicit until several hundred
years after Confucius.</big></big></p>

<blockquote>
  <blockquote>
    <blockquote>
      <blockquote>
        <p><img src="yingyang.jpg" alt="yingyang.jpg (25379 bytes)" width="102" height="50"></p>
      </blockquote>
    </blockquote>
  </blockquote>
  <p><big><big>Under a system of dualism or dichotomy, Yin could divorce Yang and stay away
  forever, but under Chinese polarity Yin must come back as a necessary partner and
  complement to Yang.&nbsp; The Yang represents Heaven and its qualities are high,
  masculine, positive, light, hard, and even numbers. Yin represents Earth and its qualities
  are low, feminine, negative, darkness, soft, and odd numbers.&nbsp; Note: In the <em>Analects</em>
  Confucius does not explicitly mention Yin and Yang, but it is a fundamental aspect of
  later Chinese philosophy.</big></big></p>
</blockquote>

<p><big><big>IV. Relational, social somatic self. No concept of autonomy, i.e., the
individual self-legislating social atom.</big></big><p:colorscheme colors="#6666FF,#FFFFFF,#9F9F9F,#99FF33,#FFCC66,#0000FF,#CC00CC,#C0C0C0" /></p>
<div v:shape="_x0000_s3074" class="O" style="mso-margin-left-alt:216"><span
style="font-size:133%">

<p>Tu Weiming: &#147;The more one penetrates into one&#146;s inner self, the more one will
be capable of realizing the true nature of one&#146;s human-relatedness. . . . The
profound person does not practice self-watchfulness for the intrinsic value of being
alone.<span style="mso-spacerun: yes">&nbsp; </span>In fact, he sees little significance
in solitariness, unless it is totally integrated into the structure of social
relations.&#148;</span><span style="mso-special-format:lastCR;display:none"> </span></p>
<div v:shape="_x0000_s3074" class="O"><div
style="mso-line-spacing:&quot;90 20 0&quot;;mso-margin-left-alt:216"><span
style="font-size:133%"><span
style="mso-special-format:bullet;position:absolute;
left:-4.03%">

<p>&#149;</span>No dualism of mind/spirit and body (<i>soma</i>). A somatic
soul--psycho-physical unity.<span style="mso-spacerun: yes">&nbsp; </span>(ConDao) <span
style="mso-special-format:bullet;position:absolute;
left:-3.67%">&#149;</span>This means
that the body is just as important for personal identity as any other part of a
person&#146;s being. <span
style="mso-special-format:bullet;position:absolute;
left:-3.54%">&#149;</span>&#147;The
human body is the best picture of the human soul&#148; (Wittgenstein, <i>Philosophical
Investigations</i>, p. 178e). </span></p>
</div></div>

<p><big><big>V.&nbsp; Reason is not essence of human nature, as Aristotle bequeathed to
European philosophy, but Confucians express human nature with this marvelous pun:</big></big></p>
</div>

<blockquote>
  <blockquote>
    <blockquote>
      <blockquote>
        <blockquote>
          <blockquote>
            <p><i><big><big>Ren (jen) is Ren* (jen)</big></big></i></p>
          </blockquote>
        </blockquote>
      </blockquote>
    </blockquote>
  </blockquote>
</blockquote>

<blockquote>
  <blockquote>
    <blockquote>
      <p><img src="summar2.gif" alt="wpe6.gif (2015 bytes)" width="455" height="133"><big><big> </big></big></p>
      <p><big><big>where <i>ren</i>* is the virtue of humanity or compassion</big></big></p>
    </blockquote>
  </blockquote>
</blockquote>

<blockquote>
  <blockquote>
    <blockquote>
      <blockquote>
        <p><big><big>Lit. To be human is to be two people</big></big></p>
      </blockquote>
    </blockquote>
  </blockquote>
</blockquote>

<blockquote>
  <blockquote>
    <blockquote>
      <p><big><big>Martin Buber&#146;s I-Thou philoosphy: <i>Mitmenschlichkeit</i>
      (&quot;with-people-ness&quot;)</big></big></p>
    </blockquote>
  </blockquote>
</blockquote>
<div v:shape="_x0000_s3074" class="O"><div
style="mso-line-spacing:&quot;90 20 0&quot;;mso-margin-left-alt:216"><span
style="font-size:133%"><span
style="mso-special-format:bullet;position:absolute;
left:-3.48%">

<p></span></span><big><big>VI. Process and organic view of nature. No substance ontology;
no mechanism; no physical or social atomism.</big><span style="font-size:133%">Substances
are eternal, unchanging, self-sufficient, and self-contained. Examples are atoms,
Christian souls &amp; God. Processes are ever changing events, which nevertheless have
constant patterns. Contemporary physics as process physics.<span style="mso-spacerun: yes">&nbsp;</span>See<span
style="font-size:133%"> </span><i>The Tao of Physics</i> and <i>The Dancing Wu Li Masters.
</i>But check out my critique of the authors of these books: &#147;<a
href="mysticism.htm">Is New Physics Really Mystical</a>?&#148;</span></big></p>
</div>

<p><big><big>VII. Religion and Philosophy are fused. Herbert Fingarette's <em>The Secular
as Sacred.</em></big></big></p>
</div><div v:shape="_x0000_s3074" class="O"><div
style="mso-line-spacing:&quot;90 20 0&quot;;mso-margin-left-alt:216"><span
style="font-size:133%"><span
style="mso-special-format:bullet;position:absolute;
left:-3.75%">

<p></span></span><big><big>VIII. Theory and practice are also fused.&nbsp; </big></big><span
style="font-size:133%">&#147;To apprehend the Dao and lecture on it before actualization
is to throw away your . . . virtue&#148; (Analects 17:14). (ConDao) Realizing the Dao is
true wisdom (<i>zhi</i>). </span></p>
</div></div>
</body>
</html>


