/*
    Theme Name: Wabash Bootstrap Genesis
    Theme URL: http://www.soliantconsulting.com/
    Description: Wabash Bootstrap Genesis Child Theme. Currently using boostrap 3.3.6
    Author: soliantconsulting
    Author URI: http://www.soliantconsulting.com/
    Version: 1.0.0
    Template: genesis
    License: GNU General Public License v3 or later
    License URI: http://www.gnu.org/licenses/gpl-3.0.html
    Text Domain: wabash
*/

@media (min-width: 240px) and (max-width: 990px) {
    .hide-small {
        display: none
    }
}

#genesis-nav-primary #menu-main>li.tree-toggle>a:after {
    font-family: 'FontAwesome';
    content: "\f0d7";
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    bottom: 15%;
    opacity: 0;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", sans-serif;
    color: #444;
}

.breadcrumb {
    background-color: transparent;
    padding-left: 0;
}

@media (min-width: 240px) and (max-width: 990px) {
    .page.full-width-content .breadcrumb {
        background-color: transparent;
        position: absolute;
        top: 60px;
    }
    .page.page-template-template-section-results-page.full-width-content .breadcrumb {
        background-color: transparent;
        position: absolute;
        top: -10px;
    }
}

.title-area ul {
    color: #c9c9c9;
    float: left;
    font-size: 14px;
    margin-left: 0;
    padding: 5px 0;
    position: relative;
    margin-bottom: 0px;
}

.title-area ul li a {
    color: #666666;
    display: block;
    font-size: 10px;
    line-height: 14px;
    padding: 3px 0;
    position: relative;
    transition: all 0.7s ease 0s;
}

.title-area ul li .fa {
    font-size: 14px;
    padding-right: 5px;
}

.title-area ul li a:hover {
    color: #a6192e;
}

.simple-social-icons ul li a, .simple-social-icons ul li a:hover {
    background-color: #ffffff !important;
    border-radius: 25px;
    color: #ffffff !important;
    border: 0px #ffffff solid !important;
    font-size: 10px;
    padding: 5px;
}

.simple-social-icons ul li a:hover {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: #ffffff !important;
}

.simple-social-icons {
    overflow: visible;
    position: relative;
}

.simple-social-icons ul {
    float: right!important;
}

.social-login {
    text-align: right;
    padding-right: 30px;
}

.login {
    float: right;
    position: relative;
    font-size: 14px;
    padding: 7px 0 5px;
    margin: 0 0 0 20px;
}

.login a {
    font-style: italic;
}

.social-login .login>p {
    margin-bottom: 2px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

h2.home-subhead {
    color: #a6192e;
    font-size: 24px;
}

.header-contact-social {
    background: #a29a8b;
}

hr {
    border-top: 1px solid #bababa;
    margin-top: 10px;
}

ul.bullet-list {
    margin: 5px 20px 0 0;
}

ul.bullet-list li:before {
    color: #ccc;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 18px;
    margin: 0 10px 0 -15px;
    position: relative;
    top: 1px;
}

ul.bullet-list li, ul.bullet-list li a {
    list-style: outside none none;
    margin: 0 0 6px 0;
    padding: 0;
    line-height: 1.4em;
    text-align: left;
}

.search-wrapper {
    z-index: 55;
}

.header-search {
    float: right;
    height: 70px;
    margin-top: 10px;
    z-index: 55;
    padding-right: 0;
    padding-left: 0;
}

.header-search-button {
    margin-left: -15px;
}

@media (min-width: 240px) and (max-width: 990px) {
    .page.header-search {
        clear: both;
        float: left;
        width: 100%;
        background-color: rgb(197, 191, 180);
        height: 65px;
    }
    .page.full-width-content.header-search {
        clear: both;
        float: left;
        width: 100%;
        background-color: transparent;
        height: 65px;
    }
    .page.page-template-template-section-results-page .search-wrapper>.header-search {
        display: none;
    }
}

@media (min-width: 240px) and (max-width: 990px) {
    .home.page .header-search, .page-id-213406 .header-search {
        clear: both;
        float: left;
        width: 100%;
        background-color: transparent;
    }
}

.banner-background {
    background: #ffffff;
    z-index: 25;
    overflow: visible;
    top: -25px;
}

@media (min-width: 240px) and (max-width: 990px) {
    .site-header {
        background: #f1f2f4 none repeat scroll 0 0;
        font-family: "Montserrat", sans-serif;
        padding: 5px 0;
        position: relative;
        overflow: hidden;
        margin-left: -15px;
        margin-right: -15px;
    }
    .simple-social-icons {
        display: none;
    }
    .social-login {
        margin-top: 0!important;
    }
    .login {
        padding-bottom: 0;
        float: right;
    }
    /*	.title-area ul {
            margin-left: auto;
            margin-right: auto;
        }
        .title-area ul li {
            display: inline-block;
            margin-right: 0!important;
            position: relative;
        } */
    .title-area {
        display: none;
    }
    .header-widget-area {
        padding-right: 30px;
    }
    .title-background {
        background: #f1f2f4;
        overflow: hidden;
    }
    .wrap-header {
        background: #ffffff;
        filter: none;
    }
    .header-overlap {
        overflow: visible;
        margin-top: -90px;
        position: relative;
        z-index: 50;
    }
    .header-bar {
        height: 100px;
        z-index: 50;
        transform: none;
        background-color: rgb(197, 191, 180);
        left: 0;
    }
    .page>.entry-header, .archive-title {
        background: rgb(197, 191, 180);
        overflow: hidden;
        width: calc(100% - 30px);
        text-align: center;
        position: absolute;
        top: 0;
        z-index: 50;
        font-size: 27px;
    }
    .page>.entry-header>.entry-title {
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

@media (min-width: 991px) and (max-width: 2640px) {
    .site-header {
        background: #f1f2f4 none repeat scroll 0 0;
        font-family: "Montserrat", sans-serif;
        padding: 5px 0 0 0;
        position: relative;
        /*overflow: hidden;*/
    }
    .title-area {
        padding-left: 20px;
    }
    .title-area ul li {
        display: inline-block;
        margin-right: 20px;
        position: relative;
    }
    .header-widget-area {
        padding-right: 30px;
    }
    .title-background {
        background: #a29a8b;
        overflow: hidden;
    }
    .wrap-header {
        background: #a29a8b;
        height: 193px
    }
    .header-overlap {
        overflow: visible;
        margin-top: -90px;
        position: relative;
        z-index: 50;
    }
    .header-bar {
        height: 100px;
        z-index: 50;
        transform: skew(-22deg);
        background-color: rgb(197, 191, 180);
        left: -50px;
    }
    .page>.entry-header, .archive-title {
        left: 40px;
        position: absolute;
        top: -230px;
        z-index: 50;
        font-size: 27px;
    }

    .page>.entry-header>.entry-title {
        font-size: 30px;
    }

    body.home.page .entry-header, body.page-id-213406 .entry-header{
        top: -90px;
    }

    body.home.page .row.third, body.page-id-213406 .row.third {
        top: -45px;
    }

   /* body.home.page .row.third {
        margin-top: 65px;
    }*/
}

@media (max-width: 990px) {
    .header-overlap {
        display: none;
    }
    .banner-background {
        display: block;
    }
    .banner-background.home-banner {
        display: none;
    }
    .header-search-button {
        margin-left: 0;
    }
}

#genesis-nav-primary {
    position: relative;
    background-color: transparent;
    border-radius: 0;
    border-width: 0;
    margin-bottom: 0;
    z-index: 100;
    clear: both;
}

nav .container-fluid {
    background: #fff none repeat scroll 0 0;
}

#genesis-nav-primary .navbar-collapse {
    padding: 0px;
}

#genesis-nav-primary #menu-main {
    position: relative;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

#genesis-nav-primary #menu-main>li {
    position: relative;
    float: left;
    padding: 0px;
    margin-left: 30px;
}

#genesis-nav-primary #menu-main>li>a {
    position: relative;
    display: block;
    /*padding:44px 15px 36px;*/
    padding: 30px 15px 28px;
    font-size: 13px;
    color: #3a3a3a;
    line-height: 20px;
    text-transform: uppercase;
    opacity: 1;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

#genesis-nav-primary #menu-main>li>a:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 4px;
    background: #a6192e;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

#genesis-nav-primary #menu-main>li.dropdown>a:after {
    font-family: 'FontAwesome';
    content: "\f0d7";
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    bottom: 15%;
    opacity: 0;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.fixed-header #genesis-nav-primary #menu-main>li>a {
    padding: 34px 15px 26px;
}

#genesis-nav-primary #menu-main>li:hover>a, #genesis-nav-primary #menu-main>li.current>a, #genesis-nav-primary #menu-main>li.current-menu-item>a, #genesis-nav-primary #menu-main>li.current-menu-parent>a, #genesis-nav-primary #menu-main>li.current-menu-ancestor>a {
    color: #a6192e;
    opacity: 1;
    background-color: transparent;
}

#genesis-nav-primary #menu-main>li:hover>a:before, #genesis-nav-primary #menu-main>li.current>a:before, #genesis-nav-primary #menu-main>li.current-menu-item>a:before, #genesis-nav-primary #menu-main>li.current-menu-parent>a:before, #genesis-nav-primary #menu-main>li.current-menu-ancestor>a:before {
    width: 100%;
}

#genesis-nav-primary #menu-main>li:hover>a:after {
    opacity: 1;
}

@media (min-width: 988px) {
    #genesis-nav-primary #menu-main {
        position: relative;
        float: right;
        margin: 0px;
        font-family: 'Montserrat', sans-serif;
    }
    #genesis-nav-primary #menu-main>li>ul {
        position: absolute;
        left: 0px;
        top: 140%;
        width: 220px;
        padding: 0px;
        border: 1px solid #a6192e;
        border-top-width: 1px;
        z-index: 100;
        background: #ffffff;
        visibility: hidden;
        opacity: 0;
        transition: all 100ms ease;
        -moz-transition: all 100ms ease;
        -webkit-transition: all 100ms ease;
        -ms-transition: all 100ms ease;
        -o-transition: all 100ms ease;
    }
}

#genesis-nav-primary #menu-main>li:hover>ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

#genesis-nav-primary #menu-main>li>ul>li {
    position: relative;
    float: none;
    width: 100%;
    border-bottom: 1px solid #efefef;
}

#genesis-nav-primary #menu-main>li>ul>li:last-child {
    border: none;
}

#genesis-nav-primary #menu-main>li>ul>li>a {
    position: relative;
    display: block;
    padding: 8px 15px 8px 30px;
    line-height: 20px;
    font-weight: normal;
    font-size: 12px;
    color: #3a3a3a;
    background-color: #ffffff;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

#genesis-nav-primary #menu-main>li>ul>li:hover>a {
    color: #ffffff;
    background-color: #a6192e;
}

#genesis-nav-primary #menu-main>li>ul>li.dropdown>a:after {
    font-family: 'FontAwesome';
    content: "\f0da";
    position: absolute;
    right: 10px;
    top: 8px;
    width: 10px;
    height: 20px;
    display: block;
    color: #a6192e;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    z-index: 5;
}

#genesis-nav-primary #menu-main>li>ul>li.dropdown:hover>a:after {
    color: #ffffff;
}

.dropdown-menu>.active>a {
    background-color: #e8e8e8;
}

.dropdown-menu>li>a {
    white-space: normal;
}

@media (min-width: 988px) {
    #genesis-nav-primary #menu-main>li>ul>li>ul {
        position: absolute;
        left: 110%;
        top: -1px;
        width: 220px;
        padding: 0px;
        border: 1px solid #a6192e;
        border-top-width: 1px;
        z-index: 100;
        background: #ffffff;
        visibility: hidden;
        opacity: 0;
        transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
    }
}

#genesis-nav-primary #menu-main>li>ul>li:hover>ul {
    left: 100%;
    opacity: 1;
    visibility: visible;
}

#genesis-nav-primary #menu-main>li>ul>li>ul>li {
    position: relative;
    float: none;
    width: 100%;
    border-bottom: 1px solid #efefef;
}

#genesis-nav-primary #menu-main>li>ul>li>ul>li:last-child {
    border: none;
}

#genesis-nav-primary #menu-main>li>ul>li>ul>li>a {
    position: relative;
    display: block;
    padding: 8px 15px 8px 30px;
    line-height: 20px;
    font-weight: normal;
    font-size: 12px;
    color: #3a3a3a;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

#genesis-nav-primary #menu-main>li>ul>li>ul>li:hover>a {
    color: #ffffff;
    background-color: #a6192e;
}


/* To change when the toggle for the menu appears */

@media (min-width: 240px) and (max-width: 990px) {
    .navbar-header {
        float: none;
        margin-left: 15px;
        margin-right: 15px;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {}
    .navbar-toggle {
        clear: both;
        display: block;
        left: 15px;
        margin-top: 30px;
        width: 100%;
        position: relative;
        text-align: left;
        text-transform: uppercase;
        border-color: #a29989!important;
        border-radius: 0;
    }
    .navbar-toggle span.icon-bar-wrapper {
        float: right;
        padding-top: 3px;
    }
    .navbar-toggle span.icon-bar {
        clear: right;
        background-color: #a29989!important;
    }
    .navbar-collapse {
        border-top: none;
        box-shadow: none;
        margin-top: 15px;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        margin-left: -15px!important;
        margin-right: -15px!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}

.navbar-nav>li>.dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    display: inherit;
}

.navbar-nav>li>ul>li>.dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    display: inherit;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-brand>img {
    height: 60px;
}

@media (max-width: 990px) {
    .navbar-brand {
        padding: 5px 15px;
        margin-bottom: 10px;
    }
    .navbar-brand>img {
        height: 60px;
    }
}

#genesis-nav-primary #menu-main>.open>a, #genesis-nav-primary #menu-main>.open>a:focus, #genesis-nav-primary #menu-main>.open>a:hover {
    background-color: transparent;
}

#menu-main .dropdown-menu>.active>a, #menu-main .dropdown-menu>.active>a:focus, #menu-main .dropdown-menu>.active>a:hover {
    background-color: transparent;
}


/* Changes for collapsed menu */

@media (min-width: 240px) and (max-width: 990px) {
    .hide-small {
        display: none
    }
    #genesis-nav-primary #menu-main>li {
        clear: both!important;
        float: left;
        width: calc(100% - 30px);
        display: block!important;
        margin-left: 15px!important;
        border: 1px solid #a29989;
        border-bottom: none;
    }
    #genesis-nav-primary #menu-main>li:last-child {
        border-bottom: 1px solid #a29989;
    }
    #genesis-nav-primary #menu-main>li>a {
        padding: 15px;
    }
    #genesis-nav-primary #menu-main>li.dropdown>a::after {
        font-family: 'FontAwesome';
        content: "\f0d7";
        text-align: right;
        padding-right: 10px;
        bottom: 30%;
    }
    #genesis-nav-primary #menu-main>li>ul {
        width: 100%;
        overflow: hidden;
        border: none;
    }
    #genesis-nav-primary #menu-main>li>ul>li>a {
        display: block;
        background: #ddddcc;
        padding-left: 15px;
    }
}


/* Ends changes for collapsed menu*/

.select2-selection {
    height: 34px !important;
    padding-top: 3px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

#search_form {
    margin-top: 1.5rem;
}

#search_content_type {
    width: 50%;
}

#search_form .btn.btn-success {
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 0;
    text-align: center;
}

#search_form .input-group-btn i.fa-search {
    padding: 0 5px;
}

@media (min-width: 240px) and (max-width: 990px) {
    #search_form input[type="search"] {
        border-color: #a6192e;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-right: none;
        height: 38px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    #search_form .input-group .form-control:focus {
        border-color: #66afe9;
        border-right: 1px solid #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
    #search_form ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #a6192e;
    }
    #search_form ::-moz-placeholder {
        /* Firefox 19+ */
        color: #a6192e;
    }
    #search_form :-ms-input-placeholder {
        /* IE10+ */
        color: #a6192e;
    }
    #search_form :-moz-placeholder {
        /* Firefox 18- */
        color: #a6192e;
    }
    #search_form .btn.btn-success {
        background-color: #fff;
        border: 1px solid #a6192e;
        border-left: transparent;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        color: #a6192e;
        line-height: 24px;
    }
    #search_form .btn.btn-success:hover {
        background-color: #a6192e;
        color: #fff;
    }

    .select2-selection {
        height: 38px !important;
    }
    .select2-selection__rendered{
        line-height: 31px !important;
    }
}

.filter-closed {
    padding-right: 0;
}

@media (min-width: 991px) and (max-width: 5120px) {
    #search_form .btn.btn-success {
        background-color: #85b53d;
        border: none;
        color: #f6f0e4;
    }
}


/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text, .screen-reader-text span, .screen-reader-shortcut {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.screen-reader-text:focus, .screen-reader-shortcut:focus, .genesis-nav-menu .search input[type="submit"]:focus, .widget_search input[type="submit"]:focus {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 23px 14px;
    color: #333;
    background: #fff;
    z-index: 100000;
    /* Above WP toolbar. */
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
}

.more-link {
    position: relative;
}


/* # Skip Links
---------------------------------------------------------------------------------------------------- */

.genesis-skip-link {
    margin: 0;
}

.genesis-skip-link li {
    height: 0;
    width: 0;
    list-style: none;
}


/* Display outline on focus */

:focus {
    color: #333;
    outline: #ccc solid 1px;
}


/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
    position: static;
}

.menu .menu-item>a:focus+ul.sub-menu, .menu .menu-item.sfHover>ul.sub-menu {
    left: auto;
    opacity: 1;
}


/* custom style */

.site-container {
    /*min-height: 100%;*/
    position: relative;
}

.site-inner {
    padding-bottom: 10px;
}

.inner_banner {
    background: rgba(0, 0, 0, 0) url("images/wc.jpg") no-repeat scroll center center / 100% auto;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

@media (min-width: 320px) {
    .inner_banner {
        height: 100px;
    }
}

@media (min-width: 480px) {
    .inner_banner {
        height: 108px;
    }
}

@media (min-width: 768px) {
    .inner_banner {
        height: 104px;
    }
}

@media (min-width: 992px) {
    .inner_banner {
        height: 130px;
    }
}

@media (min-width: 1192px) {
    .inner_banner {
        height: 135px;
    }
}

@media (min-width: 1200px) {
    .inner_banner {
        height: 140px;
    }
}

.site-footer {
    background-color: #c5bfb4;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

footer .inside {
    background: #a29a8b none repeat scroll 0 0;
    border-radius: 0;
    margin: 50px 0 0;
    padding: 0 40px 15px;
    position: relative;
    z-index: 100;
}

.footer-info-left h4, .footer-info-middle h4, .footer-contact-right h4 {
    color: #fff;
    font-weight: 400;
}

footer .form {
    clear: both;
    float: left;
    width: 100%;
}

footer .form-control {
    border: 1px solid #727272;
    border-radius: 0;
    box-shadow: none;
    font-family: "TrajanProRegular";
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 9px;
    padding: 7px 8px;
    width: 100%;
}

footer input {
    height: 28px !important;
}



footer textarea {
    height: 107px;
    resize: vertical;
    width: 100%;
}

@media (min-width: 240px) and (max-width: 767px) {
    h4#footer-contact-header {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
    .site-footer {
        position: relative;
    }
    .footer-info-middle ul {
        list-style: none;
        color: white;
        margin: 0;
        padding: 0 0 0 25px;
    }
    .footer-info-middle ul.bullet-list li {
        list-style: none;
        margin-bottom: 3px;
    }
    .footer-info-middle, .footer-contact-right {
        display: none;
    }
    ul.footer-bullet-list li::before {
        color: #fff;
        font-family: "FontAwesome";
        font-size: 18px;
        content: "\f105";
        margin: 0 10px 0 -25px;
    }
    .footer-marker {
        font-size: 36px;
        text-align: center;
        margin-top: 20px;
    }
    .footer-marker p, .footer-address p, .footer-phones p, .footer-email p {
        clear: both;
        text-align: center;
    }
    .footer-address p:first-child {
        margin-bottom: 0;
    }
    .footer-marker p {
        margin-bottom: 0;
        line-height: 1em;
    }
    footer .inside {
        clear: both;
        padding-left: 0;
        padding-right: 0;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 290px;
    }
    .footer-info-left {
        color: #fff;
        margin-top: 30px;
        border-right: none;
        padding-left: 0;
    }
    .footer-info-middle {
        border-right: none;
        color: #fff;
        margin-top: 0px;
        padding-left: 0;
    }
    .footer-contact-right {
        margin-top: 10px;
        padding-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .site-footer {
        position: relative;
    }
    footer .inside {
        clear: both;
    }
    .footer-info-left {
        color: #fff;
        margin-top: 30px;
        border-right: none;
        padding-left: 0;
    }
    .footer-info-middle {
        border-right: none;
        color: #fff;
        margin-top: 30px;
        padding-left: 0;
    }
    .footer-contact-right {
        margin-top: 10px;
        padding-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 5120px) {
    h4#footer-contact-header {
        color: #fff;
    }
    .footer-info-middle ul {
        list-style: none;
        color: white;
        margin: 0;
        padding: 0 0 0 25px;
    }
    .footer-info-middle ul.bullet-list li {
        list-style: none;
        margin-bottom: 3px;
    }
    ul.footer-bullet-list li::before {
        color: #fff;
        font-family: "FontAwesome";
        font-size: 18px;
        content: "\f105";
        margin: 0 10px 0 -25px;
    }
    .footer-address-wrapper {
        margin-top: 10px;
    }
    .footer-address-wrapper, .footer-phone-wrapper, .footer-email-wrapper {
        clear: both;
        float: left;
        width: 100%;
        margin-bottom: 5px;
    }
    .footer-email-wrapper {
        margin-top: 5px;
    }
    .footer-marker {
        float: left;
        display: inline;
    }
    .footer-address p:first-child, .footer-phones p, .footer-email p {
        display: inline;
        margin-left: 17px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .footer-phones p:first-child {
        margin-left: 15px;
    }
    .footer-email p {
        margin-left: 13px;
    }
    .footer-address p+p:last-child, .footer-phones p+p {
        clear: both;
        float: left;
        margin-top: -10px;
        margin-left: 25px;
    }
    .footer-phones p+p:last-child {
        margin-top: 0;
    }
}

@media (min-width: 240px) and (max-width: 767px) {
    .newsletter-box {
        float: none;
        margin: 10px auto 0 auto;
        z-index: 3;
    }
    .newsletter-box p {
        color: #FFF;
        font-size: 22px;
        font-weight: 700;
        margin: 0 0 10px 0;
        text-align: center;
    }
}

@media (min-width: 767px) and (max-width: 990px) {
    .newsletter-box {
        float: none;
        margin: 10px auto 0 auto;
        z-index: 3;
    }
    .newsletter-box p {
        color: #FFF;
        margin: 0px;
    }
}

@media (min-width: 240px) and (max-width: 990px) {
    .subscribe-wrapper {
        clear: both;
        float: left;
        margin-right: 0;
        background: #a6192e;
        position: relative;
        overflow: visible;
        transform: none;
        z-index: 1;
    }
    .subscribe-wrapper-shape {
        display: none;
    }
    .footer-bar {
        position: relative;
        height: auto;
        float: left;
    }
    .site-inner {
        padding-bottom: 20px;
    }
    .footer-bottom {
        clear: both;
        float: left;
        border-top: 1px solid #000;
        margin-top: 20px;
        padding: 15px;
        overflow: hidden;
        width: 100%;
    }
    .footer-bottom>.copyright {
        text-align: center;
    }
    .footer-bottom>.privacy {
        margin-top: 0!important;
        text-align: center;
    }
    .footer-bottom>.social-media {
        padding-right: 0;
    }
    .footer-bottom>.social-media>ul.social {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

@media (min-width: 991px) and (max-width: 5120px) {
    .subscribe-wrapper {
        float: right;
        background: #a6192e;
        margin-right: -15px;
        position: relative;
        overflow: visible;
        top: -25px;
        z-index: 1;
    }
    .subscribe-wrapper-shape {
        float: right;
        position: relative;
        background: #a6192e;
        transform: skew(-22deg);
        top: -25px;
        width: 30px;
        margin-right: -2px;
        overflow: visible;
        height: 140px;
        z-index: 1;
    }
    .footer-bar {
        position: relative;
        height: 120px;
        float: left;
    }
    .newsletter-box {
        float: left;
        margin-top: 10px;
        margin-left: 0;
        z-index: 3;
    }
    .newsletter-box p {
        color: #FFF;
        margin: 0px;
    }
    .footer-info-left {
        border-right: 1px solid #000;
        color: #fff;
        margin-top: 30px;
        margin-bottom: 20px;
        min-height: 209px;
    }
    .footer-info-middle {
        border-right: 1px solid #000;
        color: #fff;
        margin-top: -55px!important;
        margin-bottom: 20px;
        padding-left: 40px;
        min-height: 209px;
    }
    .footer-contact-right {
        padding-left: 40px;
        margin-top: -55px!important;
        margin-bottom: 20px;
        min-height: 209px;
    }
    .footer-info-left ul {
        margin-left: -12px;
    }
    .footer-bottom {
        clear: both;
        float: left;
        border-top: 1px solid #000;
        padding: 15px;
        overflow: hidden;
        width: 100%;
    }
    .footer-bottom>.copyright {
        padding-left: 0;
    }
    .footer-bottom>.privacy {
        text-align: center;
    }
    .footer-bottom>.social-media {
        padding-right: 0;
    }
    .footer-bottom>.social-media>ul.social {
        padding: 0;
        margin: 0;
        text-align: right;
    }
}

.btn {
    font-weight: 400 !important;
}

footer .btn {
    background-color: #85B53D;
    border: none;
    color: #f6f0e4;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 4px;
    padding: 0 23px;
    text-align: left;
}

.newsletter-box .form-group button.btn {
    padding: 0 10px;
}

@media (min-width: 240px) and (max-width: 767px) {
    .newsletter-box .form-group button.btn {
        margin: 0 auto;
        padding: 0 10px;
    }
}

@media (min-width: 768px) and (max-width: 5120px) {
    .newsletter-box .form-group button.btn {
        margin-top: -10px;
        padding: 0 10px;
    }
}

.inside a {
    color: #fff;
}

footer .social li {
    display: inline;
}

footer .social li a::before {
    background: #ae2417 none repeat scroll 0 0;
}

.twitter-container {
    padding-left: 50px;
    display: inline;
}

@media (min-width: 240px) and (max-width: 990px) {
    .twitter-container {
        padding-left: 25px;
        display: inline;
    }
}

.twitter-container i.fa-twitter {
    color: #a6192e;
    float: left;
    font-size: 49px;
    margin-left: -50px;
}

.twitter-container p {
    color: rgb(68, 68, 68);
    font-size: 13px;
    font-style: italic;
    padding: 0;
    position: relative;
}


.hvr-radial-out::before {
    background: #ae2417 none repeat scroll 0 0;
    border-radius: 100%;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}

.hvr-radial-out {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    background: #e1e1e1 none repeat scroll 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    overflow: hidden;
    position: relative;
    transform: translateZ(0px);
    transition-duration: .3s;
    transition-property: color;
    vertical-align: middle;
}

.hvr-radial-out:active, .hvr-radial-out:focus, .hvr-radial-out:hover {
    color: #fff;
}

.hvr-radial-out:active::before, .hvr-radial-out:focus::before, .hvr-radial-out:hover::before {
    transform: scale(2);
}

footer .social li a {
    background: #171f26 none repeat scroll 0 0;
    border: 1px solid #373f45;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 28px;
    margin-right: 5px;
    text-align: center;
    transform: rotate(0deg);
    width: 30px;
}

footer .social li a:hover {
    color: #fff;
}

.site-footer {
    z-index: 1;
}

.site-footer.container>div#inline_form {
    position: absolute;
    right: 58px;
    top: -10px;
    width: 411px;
    z-index: 3;
}

.site-footer.container>div#shape {
    background-color: #a6192e;
    height: 100px;
    position: absolute;
    right: 422px;
    top: -22px;
    transform: skew(-23deg);
    width: 100px;
}

.pagination, .bsg-pagination-numeric ul {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li, .bsg-pagination-numeric ul>li {
    display: inline;
}

.pagination>li>a, .bsg-pagination-numeric ul>li>a, .pagination>li>span, .bsg-pagination-numeric ul>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #ffffff;
    background-color: #666666;
    border: 1px solid #888888;
    margin-left: -1px;
}

.pagination>li:first-child>a, .bsg-pagination-numeric ul>li:first-child>a, .pagination>li:first-child>span, .bsg-pagination-numeric ul>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination>li:last-child>a, .bsg-pagination-numeric ul>li:last-child>a, .pagination>li:last-child>span, .bsg-pagination-numeric ul>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination>li>a:hover, .bsg-pagination-numeric ul>li>a:hover, .pagination>li>a:focus, .bsg-pagination-numeric ul>li>a:focus, .pagination>li>span:hover, .bsg-pagination-numeric ul>li>span:hover, .pagination>li>span:focus, .bsg-pagination-numeric ul>li>span:focus {
    z-index: 3;
    color: #666666;
    background-color: #eeeeee;
    border-color: #888888;
}

.pagination>.active>a, .bsg-pagination-numeric ul>.active>a, .pagination>.active>a:hover, .bsg-pagination-numeric ul>.active>a:hover, .pagination>.active>a:focus, .bsg-pagination-numeric ul>.active>a:focus, .pagination>.active>span, .bsg-pagination-numeric ul>.active>span, .pagination>.active>span:hover, .bsg-pagination-numeric ul>.active>span:hover, .pagination>.active>span:focus, .bsg-pagination-numeric ul>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #a6192e;
    border-color: #a6192e;
    cursor: default;
}

.pagination>.disabled>span, .bsg-pagination-numeric ul>.disabled>span, .pagination>.disabled>span:hover, .bsg-pagination-numeric ul>.disabled>span:hover, .pagination>.disabled>span:focus, .bsg-pagination-numeric ul>.disabled>span:focus, .pagination>.disabled>a, .bsg-pagination-numeric ul>.disabled>a, .pagination>.disabled>a:hover, .bsg-pagination-numeric ul>.disabled>a:hover, .pagination>.disabled>a:focus, .bsg-pagination-numeric ul>.disabled>a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.pagination-lg>li>a, .pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.content-sidebar-sidebar #genesis-sidebar-primary {
    display: none;
}

.content-sidebar-sidebar .content-sidebar-wrap {
    width: 75%;
    float: left;
}

.content-sidebar-sidebar #genesis-content {
    width: 100%;
}

.content-sidebar-sidebar #genesis-sidebar-secondary {
    float: right;
    width: 27%;
}


/* Comment Styles
------------------------------------------------------------ */


/* Comment Styles
------------------------------------------------------------ */

#comment {
    width: 100%;
}

.comment-respond, .entry-comments, .entry-pings {
    background-color: #fff;
    margin-bottom: 40px;
}

.comment-list, .comment-list .children {
    margin: 20px 0 0;
    padding: 0;
}

.comment-respond a, .entry-comments a {
    border-bottom: 1px solid #ddd;
}

.comment-content {
    clear: both;
}

.entry-comments .comment-author {
    margin-bottom: 0;
}

.comment-respond input[type="email"], .comment-respond input[type="text"], .comment-respond input[type="url"] {
    width: 50%;
}

.comment-respond label {
    display: block;
    margin-right: 12px;
}

.comment-list>li, .comment-list .children>li, .ping-list>li {
    list-style-type: none;
    margin-top: 24px;
    padding: 10px;
}

li.comment {
    background-color: #f5f5f5;
    border: 2px solid #fff;
    border-right: none;
}

.comment .avatar {
    margin: 0 16px 24px 0;
}

.entry-pings .reply {
    display: none;
}

li.bypostauthor {
    background-color: #fcf8e3;
}

.form-allowed-tags {
    background-color: #f5f5f5;
    font-size: 14px;
    padding: 24px;
}

.widget.videosidebar {
    background-color: transparent;
    border: 1px solid #eeeeee;
    border-radius: 6px;
    color: #333333;
    margin-bottom: 30px;
    padding: 10px 16px;
}

.wp-caption, embed, iframe, object, video {
    max-width: 100%;
}

h1.archive-title {
    font-size: 27px;
}

.post.entry {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.entry-meta {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #787878;
    padding: 2px 20px;
}

h2.entry-title {
    padding: 5px 20px;
}

.entry-content {
    padding: 0 0 20px 0;
    text-align: justify;
}

.entry-content h1, .entry-content h2, .entry-content h3 {
    text-align: left;
}

.entry-content .post-image.entry-image {
    float: left;
    margin-right: 20px;
}

.entry-footer .entry-meta {
    border-bottom: medium none;
    margin: 0;
}

.btn-success {
    background-color: #85B53D;
    border-color: #4cae4c;
    color: #fff;
}

.btn-success.focus, .btn-success:focus {
    background-color: #668C2E;
    border-color: #255625;
    color: #fff;
}

.btn-success:hover {
    background-color: #668C2E;
    border-color: #398439;
    color: #fff;
}

.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    background-color: #4E6B23;
    border-color: #398439;
    color: #fff;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success.focus:active, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    background-color: #398439;
    border-color: #255625;
    color: #fff;
}

.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled.focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success.focus[disabled], .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success .badge {
    background-color: #fff;
    color: #85B53D;
}

.entry-meta i:not(:first-child) {
    margin-left: 20px;
}

h1.entry-title, h2.entry-title {
    font-weight: 400;
}

.entry-title {
    font-size: 24px;
}

.entry-title>strong {
    color: #000;
}

.entry-header>span#author_info {
    left: 20px;
    position: relative;
    top: -14px;
}

.author-box-title {
    font-weight: 400;
    font-size: 22px;
}

a {
    color: #a6192e;
}

a:hover {
    color: #a6192e;
}

.pagination-omission {
    display: none !important;
}

.archive-pagination.pagination {
    float: right;
}

.author-box {
    border: 1px solid #ccc;
    padding: 20px;
    overflow: hidden;
}

.author-box>img {
    float: left;
    margin-right: 20px;
}

.page .entry-content {
    /*padding: 0;*/
}

#accordion .staff a {
    color: #a6192e;
}

#accordion div.staff {
    margin-bottom: 12px;
}

.staff {
    margin-bottom: 12px;
}

.staff p {
    font-size: 12px;
    padding-left: 15px;
}

.btn.btn-tout {
    background-color: #c5bfb4;
    color: black;
}

.btn.btn-tout .fa.fa-share {
    color: #a6192e;
    margin-right: 7px;
}

.su-accordion .su-spoiler.su-spoiler-style-fancy:first-child {
    border-top: 1px solid #ccc;
}

.su-accordion .su-spoiler.su-spoiler-style-fancy {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: none;
    border-radius: 0;
    color: #333;
    margin-bottom: 0;
}

.su-accordion .su-spoiler-style-fancy>.su-spoiler-title {
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 0.9em;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    min-height: 20px;
    padding: 7px 7px 7px 14px;
    position: relative;
}

.su-accordion .su-spoiler-style-fancy.su-spoiler-icon-plus .su-spoiler-icon::before {
    content: "\f0d7";
}

.su-accordion .su-spoiler-icon-plus.su-spoiler-closed .su-spoiler-icon::before {
    content: "\f0d9";
}

.su-accordion .su-spoiler-style-fancy>.su-spoiler-title>.su-spoiler-icon {
    color: #a6192e;
    display: block;
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    line-height: 21px;
    position: absolute;
    right: 7px !important;
    left: inherit;
    text-align: center;
    top: 7px;
    width: 20px;
}

.panel-default>.panel-heading {
    background-color: transparent;
    border-color: #ddd;
    color: #333;
}

.entry-content ul, .panel-body>ul, .panel.of-interest .panel-body>ul {
    list-style: outside none none;
}

/* Kime Media - Modification of Bulleted Lists START */

.entry-content li::before, .panel-body li::before {
    color: #ccc;
    content: "\f105";
    font-family: fontawesome;
    font-size: 18px;
    margin: 0 10px 0 -15px;
}


.entry-content ul li a::before, .panel-body ul li a::before {
color: #a6192e;
content: "\f105";
font-family: fontawesome;
font-size: 18px;
margin: 0 10px 0 -15px;

/*	color: #a6192e;
	content: "\f0c8";
	font-family: "FontAwesome";
	font-size: 6px;
	margin: 0 5px 0 -15px;
	position: relative;
	bottom: 3px;*/
}


/*.entry-content a li::before {
    color: #a6192e;
    content: "\f0c8";
    font-family: "FontAwesome";
    font-size: 5px;
    margin: 0 5px 0 -15px;
    position: relative;
    bottom: 3px;
   }

  .panel-body a li::before {
   color: #a6192e;
   content: "\f0c8";
   font-family: "FontAwesome";
   font-size: 5px;
   margin: 0 5px 0 -15px;
   position: relative;
   bottom: 3px;
  }	*/


/* Kime Media - Modification of Bulleted Lists END */

.entry-title>a {
    color: #666;
}

.widget_evolution_sidebar_box a {
    color: #666;
}

.btn.btn-tout:hover {
    background-color: #a29a8b;
    color: white;
}

.tribe-events-list-widget {
   /* border: 1px solid #ccc;*/
    position: relative;
    /*-webkit-box-shadow: 0px 4px 4px 1px rgba(122,118,122,1);
    -moz-box-shadow: 0px 4px 4px 1px rgba(122,118,122,1);
    box-shadow: 0px 4px 4px 1px rgba(122,118,122,1);*/
}

.tribe-events-list-widget h3::before {
    content: "\f073";
    font-family: "FontAwesome";
    font-size: 1.5em;
    margin-right: 7px;
}

.tribe-events-list-widget h3 {
    background-color: #a6192e;
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 14px;
}

.tribe-list-widget {
    margin-right: 20px;
}


/*.tribe-events-list-widget-events.type-tribe_events::before {
  color: #ccc;
  content: "";
  font-family: fontawesome;
  margin: 0 5px 0 -15px;
  position: relative;
  top: 20px;
}*/

.tribe-event-title {
    font-size: 1em;
    margin: 0;
}

.tribe-event-title>a {
    color: #707070;
}

.tribe-events-widget-link {
    margin-top: 5px;
    margin-right: 20px;
    text-align: right;
}

.tribe-events-widget-link a:hover {
    text-decoration: underline!important;
}

.tribe-events-list-widget ol li {
    list-style: outside none none;
    margin-bottom: 0;
}

.tribe-event-duration {
    font-size: 0.9em;
    font-style: italic;
}

.tribe-events-list-widget ul.ecs-event-list {
    margin: 5px 20px 0 0;
    padding:10px 25px 10px 40px;
    overflow-y: auto;
    text-align: left;
}

.tribe-events-list-widget li.ecs-event::before {
	display: none !important;
}

.tribe-events-list-widget li.ecs-event {
	margin-bottom: 20px;
}

/*.tribe-events-list-widget ul li.ecs-event:before {
	color: #a6192e;
	content: "\f0c8";
	font-family: "FontAwesome";
	font-size: 5px;
	margin: 0 5px 0 -15px;
	position: relative;
	top: 16px;*/

/*    color: #ccc;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 18px;
    margin: 0 5px 0 -15px;
    position: relative;
    top: 18px;*/
}

.tribe-events-list-widget li.ecs-event {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
}

.tribe-events-list-widget .entry-title {
    font-size: 1em;
    margin: 0;
}

.tribe-events-list-widget .entry-title>a {
    color: #707070;
}

.tribe-events-list-widget .ecs-event .duration.time {
    font-size: 0.9em;
    font-style: italic;
}

/*.tribe-events-list-widget ul li a::before {
	display: none !important;
}*/

#tribe-bar-form #tribe-bar-views+.tribe-bar-filters{
    left: inherit;
    right: inherit;
}
#tribe-bar-form #tribe-bar-views {
	left: inherit;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 67px;
	padding: 0 0 15px 5px;
}
#tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner {
	padding: 10px 0 35px;
}
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views {
	float: left;
	left: auto;
	width: 30%;
	top: 1px;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	padding: 4px 15px;

}
#tribe-bar-form .tribe-bar-views-inner label {
	margin-bottom: 3px;
}
.tribe-bar-views-inner {
	background: #e0e0e0;
	margin: 5px 0 0 0;
	padding: 10px 0 0;
}
.panel-heading {
    font-weight: bold;
}

#searchform-777 {
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    width: 100%;
    height: 30px;
    float: left;
    margin: 0 0 20px 0;
}

#searchform-777:focus {
    /*width: 80% !important;*/
}

.topics li>a {
    color: #333;
}

.topic-list>a {
    color: #333;
}

a, a:hover, a:link, a:active, a:focus {
    outline: none;
}

.tablepress a>.fa.fa-external-link {
    margin-right: 7px;
    position: relative;
    top: 1px;
}

.panel-default.box .panel-heading {
    font-size: 17px;
    font-weight: normal;
}

.box .img-responsive {
    margin-bottom: 12px;
}

.entry-content img.pull-left {
    margin: 0 20px 20px 0;
}

.entry-content img.pull-right {
    margin: 0 0 20px 20px;
}

.widget_tag_cloud a {
    color: #666;
}

.widget_tag_cloud a:hover {
    color: #a6192e;
}

.widget.widget_tag_cloud h3 {
    border-bottom: 1px solid #d9d9d9;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 2px;
    padding: 5px;
}

.widget.widget_tag_cloud .tagcloud {
    padding: 5px;
}

.widget.widget_tag_cloud {
    border: 1px solid #d9d9d9;
    margin-top: 5px;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignright {
    float: right;
    margin: 0 0 1em 1em;
}

.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

img.aligncenter, img.alignright, img.alignleft {
    border: 3px solid #EEE;
}

#myCarousel>.carousel-inner .active.left {
    left: -33%;
    z-index: 5000;
}

#myCarousel>.carousel-inner .next {
    left: 33%;
    display: none;
}

#myCarousel>.carousel-inner .prev {
    left: -33%;
}

#myCarousel .panel.panel-default {
    border: medium none;
    box-shadow: none;
}

#myCarousel>.carousel-control.left, .carousel-control.right {
    background-image: none;
    right: -35px
}

#myCarousel .panel-body {
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 0px;
    /* min-height: 120px;*/
    /*margin-right: 20px;*/
}

#footer-contact-header {
    color: white;
    font-weight: 400;
}

#main {
    color: #050505;
}


/* Styles to support the Metaslider and YouTube elements*/


/* METASLIDER OVERRIDES */

.metaslider.metaslider-flex {
    max-width: 700px;
}

@media (min-width: 240px) and (max-width: 990px) {
    .home-slides {
        margin-top: 48px;
    }
}


/* Changes bottom margin since slider icons are hidden */

.metaslider .flexslider {
    margin-bottom: 15px!important;
}


/* Hides the small slider icons below the slides */

ol.flex-control-nav.flex-control-paging {
    display: none;
}


/* Changes appearance of the slideshow previous/next buttons*/

.flex-direction-nav a {
    width: 30px;
    height: 60px!important;
    margin: -40px;
    display: block;
    background-image: none!important;
    background: #a6192e!important;
    border: 2px solid #fff;
    position: absolute;
    top: 40%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
}

.flex-direction-nav a:hover {
    background-image: none!important;
    background: #a6192e;
}

.flex-direction-nav a.flex-prev, .flex-direction-nav a.flex-prev:hover {
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    left: 0!important;
    background-image: none!important;
    color: #fff;
    text-decoration: none!important;
}

.flex-direction-nav a.flex-next, .flex-direction-nav a.flex-next:hover {
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    right: 0!important;
    background-image: none!important;
    content: "\f054";
    color: #fff;
    text-decoration: none!important;
}

.flex-direction-nav a.flex-prev:before {
    font-family: "FontAwesome";
    content: "\f053";
    top: 14px;
    left: 3px;
    position: relative;
    font-size: 29px;
    color: white;
}

.flex-direction-nav a.flex-next:before {
    font-family: "FontAwesome";
    content: "\f054";
    top: 14px;
    left: 6px;
    position: relative;
    color: white;
    font-size: 29px;
}


/* ENDS METASLIDER OVERRIDES */

.slider-width {
    max-width: 720px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 0;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrapper+p {
    margin-top: 10px;
    text-align: center;
}

.row+.row {
    margin-top: 20px;
}

@media (min-width: 240px) and (max-width: 768px) {
    .row+.row {
        margin-top: 0;
    }
}

@media (min-width: 240px) and (max-width: 480px) {
    .col-xs-12+.col-xs-12 {
        margin-top: 20px;
    }
    div#custom_sort_panel .col-xs-12+.col-xs-12 {
        margin-top: 5px!important;
    }
}

@media (min-width: 481px) and (max-width: 990px) {
    .col-sm-12+.col-sm-12 {
        margin-top: 20px;
    }
    div#custom_sort_panel .col-xs-12+.col-xs-12 {
        margin-top: 5px!important;
    }
}

@media (min-width: 991px) and (max-width: 5120px) {
    .col-sm-12+.col-sm-12 {
        margin-top: 0px;
    }
}

body.single-book_reviews #genesis-content article header.entry-header {
    /*border: 1px solid #ccc;*/
    border-bottom: none;
}

body.single-book_reviews #genesis-content article div.entry-content {
    /*border: 1px solid #ccc;*/
    /*border-top: none;*/
    /*padding: 15px;*/
}

body.single-post #genesis-content div.entry-content, body.page-child #genesis-content div.entry-content {
    padding: 10px 0px;
}

@media (min-width:240px) and (max-width: 990px) {
    body.full-width-content #genesis-content div.entry-content {
        padding: 100px 20px 10px 20px;
    }
}

body.single-book_reviews #genesis-content .entry-meta {
    margin-bottom: 0;
}

body.single-book_reviews #genesis-content section.author-box {
    margin-top: 25px;
}


/* Carousel overwrites */

#carouselPhotos .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 90%;
}

#carouselPhotos .carousel-inner .panel-body {
    padding: 0;
}

#carouselPhotos .carousel-control {
    width: 10%;
}

.single-book_reviews .page-header-type::before {
    content: "Book Reviews";
    font-family: Roboto;
    font-size: 30px;
    padding-left: 15px;
    position: relative;
    top: -70px;
    z-index: 75;
}

.single-post .page-header-type::before {
    content: "Blog";
    font-family: Roboto;
    font-size: 30px;
    padding-left: 15px;
    position: relative;
    top: -70px;
    z-index: 75;
}

@media (min-width: 240px) and (max-width: 990px) {
    .page.page-template-template-section-results-page .page-header-type {
        margin-top: 20px;
    }
    .page.page-template-template-section-results-page .page-header-type, .single.single-book_reviews .page-header-type, .single.single-post .page-header-type {
        height: 65px;
        background-color: rgb(197, 191, 180);
        text-align: center;
    }
    .single.single-book_reviews .page-header-type::before {
        content: "Book Reviews";
        font-family: Roboto;
        font-size: 24px;
        padding-left: 15px;
        position: relative;
        top: 15px;
        z-index: 75;
    }
    .single-post .page-header-type::before {
        content: "Blog";
        font-family: Roboto;
        font-size: 24px;
        padding-left: 15px;
        position: relative;
        top: 15px;
        z-index: 75;
    }
}

.page-template-template-section-results-page .page-header-type::before {
    content: "Search Results";
    font-family: Roboto;
    font-size: 30px;
    padding-left: 15px;
    position: relative;
    top: -70px;
    z-index: 75;
}

@media (min-width: 240px) and (max-width: 990px) {
    .page-template-template-section-results-page .page-header-type::before {
        content: "Search Results";
        font-family: Roboto;
        font-size: 22px;
        padding-left: 15px;
        position: relative;
        top: 15px;
        z-index: 75;
    }

    .page-header-type {
        margin-top: 90px !important;
    }

    .container.mixed-results {
        margin-top: 90px !important;
    }
}

.page-template-template-section-results-page #genesis-content>article.page.type-page.status-publish.entry {
    display: none;
}

.page-header-type {
    height: 0;
}

.panel.panel-default.box {
    min-height: 370px;
}

.home.page h2,.page-id-213406 h2 {
    color: #a6192e !important;
}


/* Adjusts position of welcome text when viewpoint changes */

@media (min-width: 240px) and (max-width: 767px) {
    div.welcome-text {
        clear: both;
        padding-top: 20px;
    }
}

.block-link {
    display: block;
    cursor: pointer;
}

.flex-direction-nav {
    display: none;
}


/*Event Calendar Overlapping Slider and override some core styles*/

@media (min-width: 1200px) {
    .front_page_event_calendar {
        position: absolute !important;
        /*top: 330px;*/
        left: 66.7%;
        max-height: 200px;
    }
}

@media (max-width: 1200px) {
    .front_page_event_calendar {
        position: absolute !important;
        /*top: 250px; */ /* <--Kime Media edit 06 Feb 2018*/
        left: 66.7%;
    }

    .front_page_event_calendar_container {
        background-color: #fff;
        margin: 0!important;
        overflow-y: scroll;
    }

    .scholarship-card .card-image > img {
        max-width: 95px !important;
    }
}

.front_page_event_calendar_container {
    background-color: #fff;
    margin: 0!important;
}

.tribe-events-widget-link {
    margin: 0;
    background-color: #fff;
    padding: 15px
}

.tribe-events-widget-link a {
    margin: 20px 20px 20px;
    opacity: 0.9;
}

.ecs-event .summary {
    margin-right: 20px;
}

@media (max-width: 990px) {
    .front_page_event_calendar {
        position: relative!important;
        left: 0;
        top: 0;
    }
}

.custom-search-btn {
    border: 0px none;
    background: transparent none repeat scroll 0% 0%;
    position: relative;
    margin: 0px;
    padding: 6px 0px;
    margin-left: -23px;
    color: rgb(162, 154, 139);
    z-index: 2
}

.metaslider .caption-wrap {
    background-color: #c6c0b3!important;
    color: #000!important;
    ;
    opacity: 1!important;
    ;
}

.tribe-events-list-widget .entry-title>a:hover {
    color: #a6192e;
    text-decoration: none;
}



.metaslider .slides  {
    margin-top: -25px!important;
}

.carousel-inner .item .panel {
    box-shadow: none;
}


/*Slick Carousel Custom Style*/

.slider {
    width: 90%;
    margin: 10px auto;
}

.slick-slide {
    margin: 0px 10px;
}

.slick-slide img {
    width: auto;
    max-height: 200px;
}

.slick-prev:before, .slick-next:before {
    color: rgb(196, 18, 48) !important;
}

.slick-slide .fancybox>.img-thumbnail {
    border: none;
}


/*General Single Pages Styles*/

.single-inner-border {
    border: 1px solid #ccc;
    padding: 20px;
}

body.single-video .tags-footer {
    margin: 0 -20px 0px -20px;
    padding: 20px;
    background-color: #F5F5F5;
}


/*Details Pages videos custom Styles*/

.detail_page_video_icon {
  float: left;
  margin: 2px 5px 0 0;
  width: 15px;
}

body.single-video .detail_page_video_content {
    border: 1px solid #ccc;
    padding: 10px;
}

body.single-video .content {
    padding: 0 20px 0 20px;
}

body.single-video .content {
    padding: 0 20px 0 20px;
}

body.single-video .video-details-container {
    border: 1px solid #ccc;
    padding: 0 20px 0 20px;
}


/*Title to play videos styles (Shortcodes)*/

.video_title_play {
  cursor: pointer;
  font-size: 18px;
  margin-top: 5px;
  text-align: left !important;
}

/*Title to play videos styles (Detail Page)*/

body.single-video .entry-title {
    cursor: pointer;
    font-size: 18px;
}


/*Book Reviews Detail page*/

body.single-book_reviews {
    font-size: 16px
}

body.single-book_reviews .tags-footer {
    margin: 0 -10px -10px -10px;
    padding: 20px;
    background-color: #F5F5F5;
}

.book_content_container {
    border: 1px solid #ccc;
    padding: 20px;
}

.detail_page_book_icon {
    float: left;
    margin: -10px 5px 5px 0;
}

.icon_external_url {
    position: relative;
}

.icon_external_url:before {
    content: "\f045";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #a6192e;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 5px;
    left: 5px;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small_description {
    font-size: 9px;
    font-weight: bold;
}

#colInfo {
    margin: 20px 0 20px 25px;
}

#colImage {
    margin: 20px 0 20px 35px;
    float: left;
    position: relative;
}

#checkbox-min {
    margin-right: 15px;
}

.col-sm-2.col-xs-2.hidden-md.hidden-lg {
    float: right;
}

#grant-title {
    margin-top: 0;
    margin-left: 10px;
}

#grant-info {
    margin-top: -10px;
    margin-left: 10px;
}

#checkbox-large {
    margin-right: 35px;
}

.col-md-1.col-md-1.col-lg-1.hidden-sm.hidden-xs {
    float: right;
}

.displayMoreButton {
    display: block;
    margin-bottom: 0;
}

#single-checkbox {
    margin: 10px 49px 0 0;
}

#program-title {
    margin-top: 9px;
    margin-left: 50px;
}

#book_review-title {
    margin-top: 0;
    margin-left: 10px;
}

#book-info {
    margin-top: -10px;
    margin-left: 10px;
}

#blog-title {
    color: rgb(175, 43, 43);
    margin-top: 0;
    margin-left: 10px;
}

#category_span {
    color: rgb(175, 43, 43);
}

.checkbox-share {
    margin-right: 15px;
}




.card {
    border: 1px solid #ddd;
    margin-top: 30px;
}

.card-image {
    /*background-color: #f1c40f;*/
}

.syllabi-card .card-image > img {
    max-width: 70px;
}

.website_on_religion-card .card-image > img{
    max-width: 70px;
}

.scholarship-card .card-image > img {
    max-width: 120px;
}

.card-select {
    /*background-color: #e67e22;*/
}

.card-select>img {
    margin-top: 30px;
}

.card-checkbox {
    position: absolute;
    top: 0px;
    right: 15px;
}

.card-info {
    /*background-color: #3498db;*/
}

.card-title {
  margin-top: 0;
  min-height: 40px;
  text-align: left;
}

.scholarship-card .card-title{
    min-height: auto;
}

.card-content-container {
    /*background-color: #2ecc71;*/
    margin-top: 0;
}
.card-meta {
  font-size: 14px;
  margin: 0;
}
.card-content {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: justify;
    position: relative;
    font-size: 14px;
}

.card-content > p {
  margin-bottom: 25px;
}

.video-card  .card-title,
.program-card .card-title{
  margin-top: 5px;
}


.program-card .card-info.col-xs-11.col-sm-11.col-md-10,
.video-card .card-info.col-xs-11.col-sm-11.col-md-10{
  margin-left: 0;
  padding: 0 15px;
}


@media (max-width: 590px) {
    .card-title {
        font-size: 16px;
        /*color: #ee4565;*/
        margin-top:20px;
        min-height: auto;
    }
    .card-select>img {
        max-width: 100%;
        margin: 20px auto;
    }
    .card-info {
        padding-left: 25px;
        padding-right: 25px;
    }
    .video-card .card-select,
    .program-card .card-select{
      margin-left: -15px;
    }
    .row+.row {
        margin-top: 10px;
    }

    .syllabi-card .card-image > img{
        max-width: 100%;
    }

    .website_on_religion-card .card-image > img{
        max-width: 100%;
    }

    .scholarship-card .card-image > img{
        max-width: 100%;
    }
}

@media (min-width: 591px) and (max-width: 767px) {
    .card-title {
        font-size: 18px;
        /*color: #f1c40f;*/
        margin-top:20px;
        min-height: auto;
    }
    .card-select>img {
        max-width: 65px;
        margin: 20px auto;
    }
    .card-info {
        padding-left: 25px;
        padding-right: 25px;
    }
    .row+.row {
        margin-top: 10px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .card-title {
        font-size: 20px;
        /*color: #2ecc71;*/
        margin-top:20px;
        min-height: auto;
    }
    .card-select>img {
        max-width: 65px;
        margin: 20px auto;
    }
    .card-info {
        padding-left: 25px;
        padding-right: 25px;
    }

}
@media (min-width: 992px) and (max-width: 1199px) {
    .card-title {
      min-height: 36px;
    }
    .scholarship-card .card-title {
        min-height: auto;
    }
    .syllabi-card .card-info{
        margin-left: -30px;
    }
    .syllabi-card .card-select > img{
        max-width: 40px;
        position: relative;
        top: -8px;
        right: 32px;
    }

    .website_on_religion-card .card-info{
        margin-left: -30px;
    }

    .website_on_religion-card .card-select > img{
        max-width: 40px;
        position: relative;
        top: -8px;
        right: 32px;
    }

    .scholarship-card .card-info{
        margin-left: -30px;
    }

    .scholarship-card .card-select > img{
        max-width: 40px;
        position: relative;
        top: -8px;
        right: 32px;
    }

}
@media (min-width: 1200px) {

    .card-info {
        margin-left: -30px;
    }

    .syllabi-card .card-info{
        margin-left: -60px;
    }

    .syllabi-card .card-select > img{
        max-width: 40px;
        position: relative;
        top: -8px;
        right: 24px;
    }

    .website_on_religion-card .card-info{
        margin-left: -60px;
    }

    .website_on_religion-card .card-select > img{
        max-width: 40px;
        position: relative;
        top: -8px;
        right: 24px;
    }

    .scholarship-card .card-info{
        margin-left: -60px;
    }

    .scholarship-card .card-select > img{
        max-width: 40px;
        position: relative;
        top: -8px;
        right: 24px;
    }
}


.search .custom_search > .entry-header > .entry-title {
	position: absolute;
	top: -230px;
	z-index: 50;
	left: 40px;
	font-size: 27px;
}

@media (max-width: 971px) {
    .search .custom_search > .entry-header > .entry-title {
        top: -83px !important;
    }
}

.more-link-single-results2
{
    background-color:#a6192e;
    float:right;
    width:auto;
    height:auto;
    color:#fff;
    padding:5px 15px;
    margin-right: -10px;
    margin-bottom: -10px;
}
.more-link-single-results2 > a
{
    color:#fff;
    text-decoration:none;
    cursor:pointer;
}
.more-link-single-results2 > a:hover
{
    background-color: #aa1122;
    color:#fff;
    text-decoration:none;
}
.more-link-single-results2:hover
{
    background-color: #aa1122;
    color:#fff;
    text-decoration:none;
}
.full-content{
    display: none;
}
.page-template-template-selected-resources-page .page-header-type::before { /*add heading banner to selected resources page*/
    content: "Selected Resources";
    font-family: Roboto;
    font-size: 30px;
    padding-left: 15px;
    position: relative;
    top: -70px;
    z-index: 75;
}

.book_reviews-card .icon-pdf{
    margin-top: 4px;
}

.btn#clear_filters {
  position: absolute;
  right: 2px;
  top: 1px;
  background-color: #a6192e;
  color: #fff;
  cursor: pointer;
}
.panel-default>.panel-heading.red-wabash{
   background: #a6192e none repeat scroll 0 0;
}
/*Posts img-responsive*/
.post-card .card-content img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*Twitter Footer Plugin Style*/
.atf-object.atf-skin-simplistic .atf-tweet-wrapper {
    border: 0;
    padding: 0 ;
    background-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    margin-bottom: -18px;
}
.atf-user-card {
    display: none;
}

footer textarea {
    height: 84px;
}

.flex-direction-nav a.flex-prev , .flex-direction-nav a.flex-next {
    opacity: 0.8 !important;
}

/*left justify on box*/
.panel.panel-default.box > .panel-body > p {
    text-align: left;
}

/* clear list circles on later Blog Posts */
.textwidget .display-posts-listing {
	list-style-type: none;
}
.privacy > a {
    color: #333;
}
.privacy > a:hover{
    color: #a6192e;

}
b, strong {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

/* KIME MEDIA additions START */

/*.metaslider .slides img {
    margin-top: -25px!important;
}*/

/* Blog Posts Mods for Front Page START  */

.display-posts-listing .listing-item .excerpt-dash {
	display: none;
}

.display-posts-listing .listing-item .excerpt::before {
  	content:"\000A";
  	white-space: pre;

}

.display-posts-listing .listing-item .excerpt {
	display: block;
	font-size: 14px;
	line-height: 1.42857143;
}


.display-posts-listing .listing-item .image img {
	width: 80%;
	height: auto;
}

.display-posts-listing>li:first-child {
	padding: 0px 0px 20px 0px;
	border-bottom: 1px solid #bababa;
}

.display-posts-listing>li:nth-child(2) {
	padding: 20px 0px 0px 0px;
}

.display-posts-listing .listing-item .image {
	float: left;
	padding: 0px 0px 10px 0px !important;
}

.display-posts-listing .listing-item .title {
	font-size: 18px !important;
	font-family: Roboto, sans-serif;
	font-weight: 500 !important;
	line-height: 1.1;

}

.display-posts-listing li a::before {
	display: none;
}

.display-posts-listing>li.listing-item:last-child {
    border-bottom: none;
}

/*Blog Post Mods for Front Page END  */

.whats-new-list {
    border: 1px solid #ccc;
    position: relative;
    -moz-box-shadow: -3px 0 10px rgba(9, 8, 8, 0.12);
    	box-shadow: -3px 0 10px rgba(9, 8, 8, 0.12);
    /*-webkit-box-shadow: 0px 4px 4px 1px rgba(122,118,122,1);
    -moz-box-shadow: 0px 4px 4px 1px rgba(122,118,122,1);
    box-shadow: 0px 4px 4px 1px rgba(122,118,122,1);*/
}

.whats-new-list ul{
	margin-top: 12px;
	padding: 10px 25px 10px 40px;
	overflow-y: auto;
	text-align: left;
}

.whats-new-list h3::before {
    content: "\f040";
    font-family: "FontAwesome";
    font-size: 1.5em;
    margin-right: 7px;
    margin-top: 5px;
}

.whats-new-list h3 {
    background-color: #a6192e;
    /*background: rgb(166,25,46); /* Old browsers *!/
    background: -moz-linear-gradient(top, rgba(166,25,46,1) 0%, rgba(214,34,64,1) 44%, rgba(119,8,15,1) 100%); /* FF3.6-15 *!/
    background: -webkit-linear-gradient(top, rgba(166,25,46,1) 0%,rgba(214,34,64,1) 44%,rgba(119,8,15,1) 100%); /* Chrome10-25,Safari5.1-6 *!/
    background: linear-gradient(to bottom, rgba(166,25,46,1) 0%,rgba(214,34,64,1) 44%,rgba(119,8,15,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6192e', endColorstr='#77080f',GradientType=0 ); /* IE6-9 *!/*/
    color: white;
    font-size: 1.25em;
    margin: 0;
    padding: 14px;
}

.whats-new {
    margin-right: 20px;
}

.whats-new-title {
    font-size: 1em;
    margin: 0;
}

.whats-new-title>a {
    color: #707070;
}

.whats-new-link {
    margin-top: 5px;
    margin-right: 20px;
    text-align: right;
    font-size: 0.75em;
    color: #c6c0b3;
}

.whats-new-link a:hover {
    text-decoration: underline!important;
}

.whats-new-list ol li {
    list-style: outside none none;
    margin-bottom: 0;
}

.whats-new-duration {
    font-size: 0.9em;
    font-style: italic;
}

.whats-new-list ul.ecs-event-list {
    margin: 5px 20px 0 0;
    padding:10px 25px 10px 40px;
    overflow-y: auto;
    text-align: left;
}

.whats-new-list ul li.ecs-event:before {
    color: #ccc;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 18px;
    margin: 0 5px 0 -15px;
    position: relative;
    top: 18px;
}

.whats-new-list li.ecs-event {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
}

.whats-new-list .entry-title {
    font-size: 1em;
    margin: 0;
}

.whats-new-list .entry-title>a {
    color: #707070;
}

.whats-new-list .ecs-event .duration.time {
    font-size: 0.9em;
    font-style: italic;
}

.desktop-only-thumb {
	float: left;
	padding-right: 20px;
	width: 250px;
	height: auto;
}

/* New Featured Syllabus list for Homepage START */

.featured-list-02 {
	padding: 0;
}

.featured-list-02 li::before {
	display: none !important;
}

.featured-list-02 li {
	/*border-top: 1px solid #e3e3e3;*/
	padding: .3em .5em;
	position: relative;
	width: 100%;
	margin-bottom: .3em;
}

.featured-list-02 li a::before {
	display: none !important;
}


.featured-list-02 li:nth-child(odd) {
	background-color: rgba(197, 191, 180, 0.4);
}

.featured-list-02>li:first-child {
	border: none;
	padding-top: none;
}

.featured-list-02 .list-category-header a{
	font-size: .8em;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
}

.featured-list-02 .list-category-header a:hover{
	color: #a6192e;
	text-decoration: none;
}

.featured-list-02 .list-article-title a{
	font-size: 1.1em;
	font-weight: 800;
	line-height: 1.2;
	color: #a6192e;
}

.featured-list-02 .list-desc {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;
	color: #909090;
}

.list-category-header  {
	margin: 0;
	padding-top: 10px;
}
/* New Featured Syllabus list for Homepage END */

/* TTR Feature for Homepage START */

.ttr-feature tr {
	display: inline-flex;
	padding-top: .5em;
	width: 100%;
}

.ttr-feature td {
	width: 50%;
}

/*.ttr-feature li::before{
	color: #a6192e;
	content: "\f0c8";
	font-family: "FontAwesome";
	font-size: 5px;
	margin: 0 5px 0 -15px;
	position: relative;
	/*top: 18px;*!/
	bottom: 3px;
}*/

.ttr-feature li{
	text-align: left;
}

/* TTR Feature for Homepage END */

/*What's New Homepage Section that overlaps slider*/

@media (min-width: 1200px) {
    .whats-new-list {
    	background-color: #fff;
        top: -92px;
        background-color: #fff;
        min-height: 395px;
    }

    .front_page_whats_new {
        position: absolute !important;
        top: 330px;
        left: 66.7%;
        max-height: 200px;
    }
}

@media (max-width: 1200px) {
    .front_page_whats_new {
        position: absolute !important;
        top: 250px;
        left: 66.7%;
    }
}

.front_page_whats_new_container {
    background-color: #fff;
    margin: 0!important;
}


/* Shows on Desktop ONLY */
@media (max-width: 1200px) {
    .front_page_whats_new_container {
        background-color: #fff;
        margin: 0!important;
        overflow-y: scroll;
    }

    .desktop-only-thumb {
    	display: none;
    }
}

@media (max-width: 990px) {
    .front_page_whats_new {
        position: relative!important;
        left: 0;
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
	.whats-new-list {
		top: -102px;
	}

	.whats-new-list ul {
		height: 300px;
	}

	.whats-new-list h3::before {
		float: left;
	}

}

/*Flex slider customs arrows*/
.flex-prev::after
{
content: "\f053";
font-family: FontAwesome,sans-serif;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
/*--adjust as necessary--*/
color: #FFF;
font-size: 20px;
padding-right: 0.5em;
position: absolute;
top: 21px;
left: 5px;
}
.flex-next::after
{
content: "\f054";
font-family: FontAwesome,sans-serif;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
/*--adjust as necessary--*/
color: #FFF;
font-size: 20px;
padding-right: 0.5em;
position: absolute;
top: 21px;
left: 10px;
}

.flex-direction-nav{
    display: block !important;
}
.flex-prev, .flex-next{
    text-indent: 0 !important;
    color: transparent !important;
    font-size: 0;
}
#metaslider_213424 .flex-direction-nav{
    display: none !important;
}
/* KIME MEDIA additions END */
/*Search panels*/
.search-action-buttons
{
    margin: 0;
    padding: 0;
}
.search-action-buttons li
{
    list-style: none;
    display: inline-block;
}
.search-action-buttons li::before
{
    content:'';
    margin: 0;
}

.select2-container--default .select2-results > .select2-results__options {
    overflow-y: unset !important;
}

.select2-results {
    min-height: 320px !important;
    overflow: auto !important;
    display: table !important;
    width: 100% !important;
}

.select2-results > ul {
    display: contents !important;
}

.button-left-panel-wrap.open {
    border-left: 1px solid #d7d7d7 !important;
    height: 40%;
    margin-left: -51px !important;
    margin-top: 7.8rem;
}

.single-results-filter > .button-left-panel-wrap.open {
    margin-top: 3rem !important;
}

.button-left-panel-wrap.single-page-panel.open {
    margin-left: -66px !important;
}

@media (max-width: 758px) {
    .button-left-panel-wrap.open {
        border-top: 1px solid #d7d7d7 !important;
        border-left: 0 !important;
        height: 17px !important;
        margin-left: 0 !important;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .button-left-panel-wrap.single-page-panel.open {
        margin-left: 0 !important;
    }
}

@media (min-width: 240px) and (max-width: 990px) {
    .page.page-template-template-section-results-page .search-wrapper>.header-search {
        display: block !important;
    }
}

.select2-container.select2-container--default {
    width: 35% !important;
}

#search_form > div:first-child > div.input-group {
    width: 65% !important;
}

@media (max-width: 990px) {
    .select2-container.select2-container--default {
        width: 100% !important;
    }

    #search_form > div:first-child > div.input-group {
        width: 100% !important;
    }
}

@media (max-width: 556px) {
    #search_form > div:first-child {
        flex-direction: column !important;
    }

    .select2-container.select2-container--default {
        margin: 0 auto;
    }

    #search_form > div:first-child > div.input-group {
        margin: 0 auto;
        width: 235px;
    }
}

#btn_selected_items, #copy_to_clipboard, .clear_share_list {
    width: 100% !important;
}

.selected_button:disabled {
    color: #777 !important;
    cursor: not-allowed !important;
    opacity: 0.65 !important;
}
