#TB_window.thickbox-loading {
  background-color: #f4f4f4;
  height: 300px !important;
}
#TB_window > div#TB_title {
  background-color: #181818;
}
body.wp-admin .form-group {
  margin-bottom: 15px;
  overflow: hidden;
}
body.wp-admin .form-group .control-label {
  margin-bottom: 0;
  padding-top: 7px;
  text-align: right;
  width: 16%;
  float: left;
  padding-right: 15px;
}
body.wp-admin .form-group .form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 82%;
  float: left;
}

body.wp-admin .form-group .checkbox label {
  margin-left: 16%;
  padding-left: 15px;
}

body.wp-admin .form-group textarea.form-control {
  height: auto;
}
.panel-default-book-landing {
    border: 1px solid #ddd;
	padding:20px;
	margin-bottom:20px;
	list-style-type: none;
	display:block;
	overflow: hidden;

}
.title-book-reviews-landing
{
	float:left;
	width:90%;
}
.img-book-reviews-landing
{
	width:8%;
	height:50px;
	background-color:#B9B9B9;
	float:left;
	margin-left:2%
}
.bk-main-content
{
    padding:15px;
    border: 1px solid #ddd;
    margin:0 0 20px 0;
    color:#666
}
article.page.status-publish.entry
{
    border: none!important;
}
.book-cover-image
{
    padding: 15px;
    float: left;
}
.displayMoreButton
{
    display:block;
}
.more-link-single-results2
{
    background-color:#a6192e;
    float:right;
    width:auto;
    height:auto;
    color:#fff;
    padding:5px 15px;
    margin-right: -10px;
    margin-bottom: -10px;
}
.more-link-single-results2 > a
{
    color:#fff;
    text-decoration:none;
    cursor:pointer;
}
.more-link-single-results2 > a:hover
{
    background-color: #aa1122;
    color:#fff;
    text-decoration:none;
}
.more-link-single-results2:hover
{
    background-color: #aa1122;
    color:#fff;
    text-decoration:none;
}
.review_by
{
    color:#666666;
    font-weight:bold;
}
.full-content{
    display: none;
}
