.post.entry {
    border: none !important;
}

.checkbox-share{
    float: right;
}
.more-link-single-results_blogs1
{
    background-color:#a6192e;
    float:right;
    width:auto;
    height:auto;
    color:#fff;
    padding:5px 15px;
    margin-right: -20px;
}
.more-link-single-results_blogs1 > a
{
    color:#fff;
    text-decoration:none;
    cursor:pointer;
}
.more-link-single-results_blogs1 > a:hover
{
    background-color: #aa1122;
    color:#fff;
    text-decoration:none;
}
.more-link-single-results_blogs1:hover
{
    background-color: #aa1122;
    color:#fff;
    text-decoration:none;
}

.single-results-info {
    margin: 20px 0 20px 0;
    padding: 20px 20px 0 20px;
    border: 1px solid #ccc;
}