h1.entry-title {
  font-size: 16px;
}
.inner_banner.container > img {
  position: relative;
  top: -498px;
}

.custom_search {
  font-size: 12px;
}
/*.container.custom_search {
  margin-bottom: 155px;
}*/
@media (min-width: 240px) and (max-width: 990px) {
    .custom_search {
        margin-bottom: 155px;
        margin-top: 50px;
    }
}
.custom_search .checkbox > label, .custom_search .radio > label {
  font-size: 12px;
}

.checkbox label::before {
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 3px;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 18px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  top: -1px;
  transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
  width: 18px;
}
.checkbox label::after {
  color: #a6192e;
  display: inline-block;
  font-size: 13px;
  height: 18px;
  left: 3px;
  margin-left: -20px;
  padding-left: 0;
  padding-top: 1px;
  position: absolute;
  top: -3px;
  width: 18px;
}
.panel-body.results> div.info  {
  border: 1px solid #ccc;
  margin-bottom: 20px;

}
.panel-body-single-results{
  /*padding: 20px;*/
  font-size:16px;
  color:#666;
  margin-top: 1rem;
}
.panel-body-single-results>.page{
  padding: 0 20px 0 20px;
}

.results div hr {
  margin: 5px 0 10px;
}
.panel-body.results p {
  margin-bottom: 2px;
}
.results div p.resource_info {
  margin-top: 10px;
}

.results div div.resource_topics {
  background-color: #F5F5F5;
  font-size: 11px;
  padding: 10px 10px 2px;
}

/*.results .checkbox {
  float: left;
  width: 80%;
}*/
.resource_body img {
  margin-top: 10px;
}
.resource_topics > p {
  color: #a6192e;
}
.resource_title {
  /*color: #a6192e;*/
  font-weight:normal;
}
.filters label {
  font-weight: normal;
  padding-left: 4px;
}
.panel {
    background-color: #fff;
    border: 0 none;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 20px;
    position: relative;
}
.panel-options {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 15px;
}
.panel-options > li {
    display: block;
    float: left;
    list-style: outside none none;
}
.panel-options > li > a {
    color: #bdc3d1;
    transition: all 0.2s ease-out 0s;
}
.panel-default .panel-options > li > a, .panel-primary .panel-options > li > a, .panel-success .panel-options > li > a, .panel-warning .panel-options > li > a, .panel-danger .panel-options > li > a, .panel-info .panel-options > li > a, .panel-inverse .panel-options > li > a {
    color: #a6192e;
}
.panel-options > li > a > i {
    font-size: 20px;
    position: relative;
    top: -4px;
}
.panel-heading {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-bottom: 0;
}
.panel-default > .panel-heading {
    background-color: #fff;
    border-color: #d2d6df;
    color: #262b36;
}
.panel-default .panel-heading, .panel-primary .panel-heading, .panel-success .panel-heading, .panel-warning .panel-heading, .panel-danger .panel-heading, .panel-info .panel-heading, .panel-inverse .panel-heading {
    padding-bottom: 15px;
    padding-top: 15px;
}
.panel-title {
    color: inherit;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}
.panel-title {
    color: #777 !important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    letter-spacing: 0.2px !important;
}
.panel-default .panel-body, .panel-body-single-results,.panel-primary .panel-body, .panel-success .panel-body, .panel-warning .panel-body, .panel-danger .panel-body, .panel-info .panel-body, .panel-inverse .panel-body {
    padding-top: 20px;
}
.panel-body {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.panel-body-single-result
{
	border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
	font-size:16px;
	color:#A29A8B;
}
.panel-heading.min {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.panel-default {
    border: 1px solid #ddd;
}
.panel-default-general-search {
    border: 1px solid #ddd;
	/*min-height:600px;*/
}
.panel-options > li > a > i.fa.fa-caret-down:hover {
    cursor: pointer;
}

.panel-options > li > a > i.fa.fa-caret-up:hover {
    cursor: pointer;
}
.panel-body-single-results .panel-body { padding-top: 20px!important; }
@media (min-width:300px ) and (max-width: 550px ) and (min-height:300px ) and (max-height: 550px) {
    .panel-body-single-results .panel-body { padding: 0px!important; }
}
.container.custom_search > .entry-header {
  background-color: transparent;
  left: 40px;
  position: absolute;
  top: -230px;
  z-index: 75;
  width:435px;
  font-size: 27px;
}
.container.custom_search > .entry-header > .entry-title {
  font-size: 30px;
}
@media (min-width: 240px) and (max-width: 990px) {
    .container.custom_search > .entry-header {
        background-color: rgb(197, 191, 180);
        left: 15px;
        position: absolute;
        top: -70px;
        z-index: 75;
        width: calc(100% - 30px);
        padding-bottom: 10px;
        padding-left: 20px;
        text-align: center;
    }
    .container.custom_search > .entry-header > .entry-title {
        font-size: 22px;
        z-index: 75;
    }
}
.page-template-template-section-results-page form#search_form {
  visibility: visible;
}
.page-template-template-selected-resources-page form#search_form {
  visibility: visible;
}

.search-results form#search_form {
  visibility: visible;
}
.page-template-default.page form#search_form {
  visibility: visible;
}
#search_form_extra .btn.btn-success {
    background-color: #85b53d;
    border: medium none;
    color: #f6f0e4;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 10px;
    float:right;
    padding: 0 2%;
    width:30%;
    text-align: center;
}
/*form#filter_form .btn.btn-success {
  float: right;
  height: 27px;
  margin-right: 5px;
  padding: 0 2%;
  position: relative;
  top: 10px;
}*/
#custom_sort_panel {
    position: relative;
    margin-top: 10px;
}
#custom_sort_panel .input-group {
    margin-bottom: 15px;
    width: 100%;
}
#custom_sort_panel .input-group .form-control {
    position: relative;
    z-index:2;
    float: left;
    margin-bottom: 0;
}
#custom_sort_panel #search_form_extra .btn.btn-success {
  background-color: #85b53d;
  border: medium none;
  color: #f6f0e4;
  float: right;
  font-size: 14px;
  font-weight: normal;
  height: 34px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0 8px;
  text-align: center;
  width: 100%;
}
/* Custom Search Filter Panel */

.button-filter-panel {
    background-color: rgb(196, 18, 48);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px 10px;
    position: relative;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    width: 75px;
}
#genesis-content div#open_filter .fa {
    color: #ffffff;
    font-size: 16px;
    margin-left: 5px;
}
#loader {
  bottom: 50px;
  display: none;
  height: 21px;
  left: 50%;
  margin-left: -65px;
  position: fixed;
  width: 131px;
  z-index: 1000;
}
/*.checkbox label::before {
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 3px;
  bottom: 0;
  content: "";
  display: none;
  height: 18px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  top: -1px;
  transition: border 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
  width: 18px;
}
.checkbox label {
  display: inline-block;
  margin-left: -20px;
  padding-left: 0;
  position: relative;
  vertical-align: middle;
}
.results .checkbox {
  float: left;
  width: 70%;
}*/
.attachment-medium.size-medium.wp-post-image{
  float: left;
  margin: 0 1em 1em 0;
  margin-right: 20px;
  border: 3px solid #eee;

}
article.page.status-publish.entry {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.search-page-header > span#author_info {
  position: relative;
  top: -14px;
}
article.page.status-publish .entry-content.clearfix > p {
  margin-bottom: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow: hidden !important;
    border: medium none !important;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
.panel-body.results > hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.more_tiles0
{
	color:#a6192e;
    margin-left: 5px;
}
.more_tiles
{
	float:right;
	color:#a6192e;
}
.more_content_link,.more_content_link_BA
{
	text-align:right;
	float:right;
	text-decoration:none;
}
.title_tile
{
	text-decoration: none ! important;
}
.post_type_icons
{
	margin-right: 7px; color: rgb(196, 18, 48);
}
.title-tiles
{
	margin-left:15px;
}
.title-tiles h2 { font-size: 26px; font-weight: normal!important; }

@media (min-width: 240px) and (max-width: 990px) {
    .title-tiles { margin-left: 0; }
    .title-tiles h2 { font-size: 24px; font-weight: normal!important; }
}
.search-page-header h3, .grants-header h3, .single_results-title-content h3
{ font-size: 22px!important; font-weight: normal!important; }
.link_title_tile
{
	text-decoration:none;
	font-size:22px;
	color: #a6192e;
	cursor:pointer;
}
.link_title_tile:hover
{
	text-decoration:underline;
	font-size:22px;
	color:#a6192e;
}
.book_author
{
	font-weight:600;
    font-size: 16px;
    color: #666;
}
.results>div>.publisher_name
{
	color:#a6192e;
	cursor:pointer;
}
.results>div>p>.ISBN
{
	color:#666666;
	font-weight:bold;
}
.results>div>p>.pages
{
	color:#666666;
	font-weight:bold;
}
.results>div>p>.price
{
	color:#666666;
	font-weight:bold;
}
.single_results-title-content
{
	/*float:left;
    position: relative;
	width:75%;*/
}
.img_single_results
{
	float:left;
    position: relative;
	height:auto;
	margin-left:2%;
	width:20%;
	padding-top:20px;
}
.img_single_results_recomended
{
	float:left;
	margin-left:2%;
	width:20%;
	padding-top: 20px;
}
.img_single_results_recomended img,
.img_single_results_recomended p img {
    float: right;
}
.review_by
{
	color:#666666;
	font-weight:bold;
}
.single-results-info
{
	margin-top:20px;
  	margin: 20px 0 20px 0;
 	padding:20px 20px 0 20px;
    border: 1px solid #ccc;
}
.single-results-info p { margin: 0 0 15px!important; }
.more-link-single-results
{
	background-color:#a6192e;
	float:right;
	width:auto;
	height:auto;
	color:#fff;
	padding:5px 15px;
    margin-right: -20px;
}
.more-link-single-results > a
{
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}
.more-link-single-results > a:hover
{
	background-color: #aa1122;
	color:#fff;
	text-decoration:none;
}
.more-link-single-results:hover
{
	background-color: #aa1122;
	color:#fff;
	text-decoration:none;
}
.more-link-single-results_blogs1 {
  background-color: #a6192e;
  bottom: 0;
  color: #fff;
  padding: 5px 15px;
  position: absolute;
  right: 0;
}
.more-link-single-results_blogs1 > a
{
    color:#fff;
    text-decoration:none;
    cursor:pointer;
}
.more-link-single-results_blogs1 > a:hover
{
    background-color: #aa1122;
    color:#fff;
    text-decoration:none;
}
.more-link-single-results_blogs1:hover
{
    background-color: #aa1122;
    color:#fff;
    text-decoration:none;
}
.tags-footer
{
	padding:20px;
	background-color:#F5F5F5;
}
.grants-header
{
	padding-left:20px
}
.single_results-title-content label, .grants-header label { font-weight: normal!important; }
.img-single-results, .img_single_results img
{
	width:160px;
	height:auto;
}
.custom_search .attachment-medium.size-medium.wp-post-image
{
    float: none!important;
    margin: 0!important;
    border: none!important;
    width: 160px;
    height: auto;
}
.checkbox-share
{
	float:right;
    display: inline;
	margin: 10px 0 0 0;
}
.displayMoreButton
{
	display:block;
}
.hiddeMoreButton
{
	display:none;
}
.share_results {
    /*cursor: pointer;*/
    font-size: 18px;
    font-weight: normal;
    float:left
}
.share_results .fa-check-square {
    margin-right: 5px;
    color:#1f82e7;
}
.single-results-info.square-padding {
  padding: 20px;
}
.share_url_container {
    width: 100%;
    height: auto;
}
.clear_share_list
{
    background-color:#a6192e;
    color:#fff;
    cursor: pointer;
}

.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
    content: '';
    display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
    clear: both;
}
/*Filter Floating*/
/*Filter panel*/
.general_search_filter
{
    background-color: #fff;
    z-index: 999;
    /*position:fixed;
    height: 75%;*/
    /*overflow: auto;*/
    border:1px solid #ddd;
    padding-left: 10px;
    padding-top: 5px;
    height: 350px;
}

/*Hide Filter Panel*/
.general_search_hide_filter
{
    display:none;
}
/*Button to open panel*/
.general_search_button_panel {
    z-index:9999;
    background-color:#a6192e;
    color:#FFFFFF;
    cursor:pointer;
    font-size: 13pt;
    padding: 8px 32px 8px 8px;
    white-space: nowrap;
    width: 120px;
    margin: 0 auto;
}
/*Button to close panel*/
.general_search_button_panel_clicked {
    left: 239px;
}
/*Icon "Close" inside the button*/
.general_search_button_panel:after {
    content: "\f01b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #fff;
    font-size: 20px;
    padding-left: 5px;
    bottom:4px;
    right: 0;
}
/*Icon "Open" inside the button*/
.general_search_button_panel_clicked:after {
    content: "\f01a";
    font-family: FontAwesome;
}
.general_search_apply_filter_buttons
{
    margin-top: 20px;
}
.general_search_input
{
    width: 100%!important;
}
.general_search_refine
{
    margin-top:0px!important
}/*Single results Video Icon*/
.single_results_video_icon
{
    float:left;
    margin: 0 5px 0 0;
}
.single_results_video_title
{
    cursor: pointer;
}
.single_results_video_content
{
    border: 1px solid #ccc;
    padding:10px;
}
.videos-tags-footer
{
    margin:20px -20px 0 -20px;
    padding:20px;
    background-color:#F5F5F5;
}
div.single_results-title-content .cover-image
{
    padding: 15px;
    float: left;
}
.tags-footer-videos
{
    margin:0 -20px 0px -20px;
    padding:20px;
    background-color:#F5F5F5;
}
.link_title_tiles
{
    text-decoration:none;
    font-size:22px;
    color: #a6192e;
    cursor:pointer;
}
.book_year{
    font-size: 16px;
}
.tree-img-single-results
{
    margin: 20px 0 0 90%;
}
/*General Search Button Container*/
#filter_button_container
{
    z-index: 9999;
}
#text-video {
 text-align: justify;
}

div.grants_search,.scholarship_search .panel-heading,.website_on_religion_search .panel-heading,.ttr_search .panel-heading,.grants_search .panel-heading,.post_search .panel-heading,.book_reviews_search .panel-heading
{
    padding: 7px;
}
form.form_single_results_sort_by .panel-heading
{
    overflow: hidden;
}
form.form_single_results_sort_by .panel-heading div:nth-child(1) {
    float:left
}
form.form_single_results_sort_by .panel-heading div:nth-child(2) {
    float:right
}

/*General Search Buttoms Mobile*/

.btn_mobile {
    padding: 20px 15px 15px 15px;
    margin: 10px 2px 0 0;
    text-decoration: none!important;
    text-align: center;
    color: #fff!important;
    cursor: pointer;
    background: #171f26;
    border-bottom: 10px solid #34495e;
    transition-property: border-bottom .6s linear 0s;
    -moz-transition: border-bottom .6s linear 0s;
    -webkit-transition: border-bottom .6s linear 0s;
    -o-transition: border-bottom .6s linear 0s;
    font-size: 12px;
}

.btn_mobile.active {    border-bottom: 10px solid #a6192e;    color: #a6192e;    background-color: #c5bfb4;}

.button-group-navigation li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    zoom: 1;
    background: #fff;
}
.button-group-navigation li:before {
content:'' !important;
}

.button-group-navigation li .btn_mobile {
    float: left;
    margin-left: -4px;
    border-radius:0;
}

.button-group-navigation>.btn_mobile:first-child,
.button-group-navigation li:first-child .btn_mobile {
    margin-left: 0;
    /*-webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;*/
}

.button-group-navigation>.btn_mobile:last-child,
.button-group-navigation li:last-child>.btn_mobile {
    margin-right: 0;
    /*-webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;*/
}
.button-group-navigation
{
    margin: 0 0 20px 0;
}
#programs_sort_icon
{
    background: url("../images/cpt_small_icons/programs_icon_white.png");
}


/*Single Search Buttoms Mobile*/

.btn_mobile_single_search {
    padding: 10px 10px 10px 10px;
    margin: 10px 2px 0 0;
    text-decoration: none!important;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: #171f26;
    border-bottom: 10px solid #34495e;
    transition-property: border-bottom .6s linear 0s;
    -moz-transition: border-bottom .6s linear 0s;
    -webkit-transition: border-bottom .6s linear 0s;
    -o-transition: border-bottom .6s linear 0s;
    font-size: 12px;
}
.btn_mobile_single_search:hover {
   color:#fff;
}

.btn_mobile_single_search.active {
    border-bottom: 10px solid #a6192e;    color: #444;    background-color: #c5bfb4;
}



.button-group-navigation li .btn_mobile_single_search {
    float: left;
    margin-left: 4px;
    border-radius:0;
    min-width: 45px;
}

.button-group-navigation>.btn_mobile_single_search:first-child,
.button-group-navigation li:first-child .btn_mobile_single_search {
    margin-left: 0;
}

.button-group-navigation>.btn_mobile_single_search:last-child,
.button-group-navigation li:last-child>.btn_mobile_single_search {
    margin-right: 0;
}
.button-group-navigation
{
    margin: 0 0 5px 0;
}
#programs_sort_icon
{
    background: url("../images/cpt_small_icons/programs_icon_white.png");
}
/*General Search Single Results Button*/
#custom_sort_panel #search_form_extra .btn.btn-warning {
    width: 100%;
}
form#search_form_extra div
{
    padding-right: 5px;
    padding-left: 5px;
}
.grid {
    padding-left: -15px;
    padding-right: -15px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

/*Panel Body border bottom Dashed*/
.panel-body.results p {  border-bottom: 1px dashed #a0a0a0;  margin-bottom: 10px;  padding-bottom: 5px;}
.panel-body.results > p:last-of-type {    border: medium none;}

.msg_selected_items
{
    content:'';
    height: 20px;
}
#total_selected_items
{
    font-weight: bold;
}
.radio .img-responsive.img_sort_recommended {
  float: left;
  margin: -3px 0 0;
  max-width: 19px;
}
/*Mobile view*/
.btn_mobile_single_search.single_sort > .img-responsive.img_sort_recommended {
    float: left;
    margin: -3px 0 0;
    max-width: 17.3px;
}
/*To make the sort icons a little more large*/
form.form_single_results_sort_by,.form_single_results_filter_by .fa
{
    font-size: 16px;
}
.input-group-btn.selected-buttons {top: -5px;}



/******************************************/
/*********** NEW SEARCH PANEL *************/
/******************************************/



@media (min-width: 100px) and (max-width: 766px) {

    .open.button-left-panel {
        right: 0 !important;
        border: 2px solid #c15e6d !important;
        display: inline-block !important;
    }

    .filter-closed {
        width: 100% !important;
    }

    .button-left-panel-wrap {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: space-around;
    }

    .button-left-panel {
        width: 25px;
        position: relative !important;
        letter-spacing: 2px;
        transform: rotate(90deg);
        top: 0 !important;
        right: 0 !important;
        display: inline-block !important;
        align-self: center !important;
    }

    .filter-closed
    {
        position: relative !important;
    }
}

/*Filter panel*/
.single_results_right_sidebar
{
    transition: 0.7s;
    /*position:fixed;*/
    background-color: #fff;
    border: 1px solid #ddd;
    padding:10px;
    z-index:999;
    top:0;
}
/*Hide Filter Panel*/
.single_results_hide_filter
{
    display:none;
}
/*Button to open panel*/
.single_results_button_panel {
    text-align:center;
    z-index:9999;
    background-color: #f1f2f4;
    color:#333;
    cursor:pointer;
    font-size: 13pt;
    white-space: nowrap;
    width: fit-content;
    width: -moz-fit-content;
    border: none!important;
    margin: 0 auto;
    line-height: 1.2em;
    padding: 3px 15px;
}
/*Icon "Close" inside the button*/
.single_results_button_panel:after {
    font-family: FontAwesome;
    content: "\f102";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #333;
    font-size: 22px;
    position: relative;
}

/*Button to close panel*/
/*.single_results_button_panel_clicked {
    right: 275px;
    margin-left: -30px;
}*/
/*Icon "Close" inside the button*/
.single_results_button_panel_clicked:after {
    content: "\f103";
    font-family: FontAwesome;
    left:10px;
    top:3px
}
.single_results_main_container
{
    transition: 0s;
}
#browse_panel
{
    font-size: 12px;
    background-color: #fff;
    padding: 10px;
}
.radio, .checkbox
{
    margin-top: 2px;
    margin-bottom: 2px;
}
.panel-body .btn,.panel-heading .btn
{
    padding: 3px 6px;
}
*:focus,.radio label::before,.checkbox label::before {
    outline: 0!important;
}
input {
    cursor:pointer
}
#clear_filters2 {
    position: absolute;
    right: 2px;
    top: 5px;
    color: #a6192e;
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-size: 14px;
}
.checkbox label
{
    padding-left: 5px;
}
#btn_selected_items, #copy_to_clipboard, .clear_share_list {
    color: #a6192e;
    cursor: pointer;
    border: 2px solid lightgrey;
    background-color: inherit;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 1px;
    margin: 10px 0 0 3px;
}
@media (max-width: 991px)
{
    .action-panel-search
    {
        width:100%;
        margin:0 auto
    }
}
@media (max-width: 400px)
{
    .selected-buttons .btn
    {
        font-size: 12px!important;
    }
}
@media (max-width: 335px)
{
    .selected-buttons .btn
    {
        font-size: 11px!important;
    }
    .panel-body-single-results .panel-body
    {
        padding: 10px!important;
    }
}
.scholarship-card .card-info
{
    margin-left: 0!important;
}

.single_results_right_sidebar .col-sm-12,.single_results_right_sidebar .col-xs-12 {
    margin-top: 0!important;
}
.button-left-panel {
    background: #f1f2f4!important;
    width: 25px;
    text-indent: inherit!important;
    color:#333;
    text-decoration: none;
    height: 80px;
    display: block;
    position: absolute;
    z-index: 2;
    right: -10px;
    top:45%;
    border:2px solid #c15e6d;
    border-left: none;
    letter-spacing: 2px;
}
.button-left-panel:hover,.button-left-panel:focus,.button-left-panel:visited {
    text-decoration: none;
    color: #333;
}
.button-left-panel::before {
    content: 'Filters';
    transform: rotate(-90deg);
    display: block;
    position: relative;
    top: 65%;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    z-index: 2;
}
.button-left-panel::after {
    font-family: FontAwesome;
    content: "\f100";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #c15e6d;
    font-size: 22px;
    position: absolute;
    top: -6px;
    left: 8px;
}
.open.button-left-panel-wrap > .button-left-panel::after {
    font-family: FontAwesome;
    content: "\f101";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #c15e6d;
    font-size: 22px;
    position: absolute;
    top: -6px;
    left: 8px;
}

.open.button-left-panel-wrap > .button-left-panel {
    top: 25% !important;
    left: -5rem !important;
}

@media (max-width: 765px) {
    .single-results-filter {
        padding-right: 0 !important;
    }
}

.single-results-filter > .open.button-left-panel-wrap > .button-left-panel {
    top: 13rem !important;
}

@media (max-width: 758px) {
    .single-results-filter > .open.button-left-panel-wrap > .button-left-panel {
        top: 0.4rem !important;
    }
}

@media (max-width: 762px)
{
    .open.button-left-panel-wrap > .button-left-panel {
        top: 25% !important;
        left: 0 !important;
    }
}

.open.button-left-panel {
    right: 0;
    border:2px solid #c15e6d;
}
.filter-closed
{
    padding: 0;
    width: 0;
    height: 700px;
    left: 40px;
    position: absolute;
}
@media (max-width: 768px)
{
    .open.button-left-panel {
        right: inherit;
        position: relative;
    }
    .filter-closed
    {
        padding:0;
        width: inherit;
        height: inherit;
        left: inherit;
    }
}
/*Search panels*/
.search-action-buttons
{
    margin: 0;
    padding: 0;
}
.search-action-buttons li
{
    list-style: none;
    display: inline-block;
}
.search-action-buttons li::before
{
    content:'';
    margin: 0;
}
