.single_results_right_sidebar {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    top: 0;
    transition: all 0.7s ease 0s;
    z-index: 999;
}
#filter_button_container {
    z-index: 9999;
}
.single_results_button_panel {
    background-color: #a6192e;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    font-size: 13pt;
    margin: 0 auto;
    max-width: 180px;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    z-index: 9999;
}
.single_results_button_panel::after {
    bottom: 4px;
    color: #fff;
    content: "";
    font-family: FontAwesome;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    padding-left: 5px;
    text-decoration: inherit;
}
.single_results_hide_filter {
    display: none;
}
#custom_sort_panel {
    margin-top: 10px;
    position: relative;
}

form#search_form_extra div {
    padding-left: 5px;
    padding-right: 5px;
}
#custom_sort_panel .input-group {
    margin-bottom: 15px;
    width: 100%;
}
#custom_sort_panel .input-group .form-control {
    float: left;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}
#search_form_extra .btn.btn-success {
    background-color: #85b53d;
    border: medium none;
    color: #f6f0e4;
    float: right;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 10px;
    padding: 0 2%;
    text-align: center;
    width: 30%;
}
#custom_sort_panel #search_form_extra .btn.btn-success {
    background-color: #85b53d;
    border: medium none;
    color: #f6f0e4;
    float: right;
    font-size: 14px;
    font-weight: normal;
    height: 34px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0 8px;
    text-align: center;
    width: 100%;
}
#search_form_extra .btn.btn-success {
    color: #f6f0e4;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}
#custom_sort_panel #search_form_extra .btn.btn-success {
    color: #f6f0e4;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
form#search_form_extra div {
    padding-left: 5px;
    padding-right: 5px;
}
#custom_sort_panel #search_form_extra .btn.btn-warning {
    width: 100%;
}
.share_results {
    float: left;
    font-size: 18px;
    font-weight: normal;
}
.share_results .fa-check-square {
    color: #1f82e7;
    margin-right: 5px;
}
#total_selected_items {
    font-weight: bold;
    margin: 0 10px 0 0;
}
.input-group-btn.selected-buttons {
    top: -5px;
}
.clear_share_list {
    background-color: #a6192e;
    color: #fff;
    cursor: pointer;
}
/*hide the general search form from the banner becuase we already have one in the panel */
#search_form {
  visibility: visible;
}
