/* Simple Social Icons
--------------------------------------------- */

.simple-social-icons {
    overflow: hidden;
}

.simple-social-icons ul {
  margin: 2px 0 0;
  padding: 0;
}

.simple-social-icons ul li {
    float: left;
    margin: 3px;
    padding: 0;
    border: none;
    background: none;
    list-style-type: none;
}

.simple-social-icons ul li a {
    display: inline-block;
    box-sizing: content-box;
    width: 1em;
    border: none;
    font-family: "fontawesome";
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    text-transform: none;
  box-shadow: 0 2px 2px #999;

    speak: none;
}

.simple-social-icons ul.alignright {
  float: right;
}

.simple-social-icons ul.aligncenter {
    text-align: center;
}

.simple-social-icons ul.aligncenter li {
    display: inline-block;
    float: none;
}

.simple-social-icons li.social-dribbble a {
    border: 2px solid #ea4c89 !important;
    color: #ea4c89 !important;
}

.simple-social-icons li.social-dribbble a:hover {
    background-color: #ea4c89 !important;
}

.simple-social-icons li.social-email a {
    border: 2px solid #049fb3 !important;
    color: #049fb3 !important;
}

.simple-social-icons li.social-email a:hover {
    background-color: #049fb3 !important;
}

.simple-social-icons li.social-facebook a:hover {
    color: #3b5998 !important;
}

.simple-social-icons li.social-facebook a {
    background-color: #3b5998 !important;
}

.simple-social-icons li.social-flickr a {
    border: 2px solid #ff0084 !important;
    color: #ff0084 !important;
}

.simple-social-icons li.social-flickr a:hover {
    background-color: #ff0084 !important;
}

.simple-social-icons li.social-github a {
    border: 2px solid #000 !important;
    color: #000 !important;
}

.simple-social-icons li.social-github a:hover {
    background-color: #000 !important;
}

.simple-social-icons li.social-gplus a {
    border: 2px solid #dd4b39 !important;
    color: #dd4b39 !important;
}

.simple-social-icons li.social-gplus a:hover {
    background-color: #dd4b39 !important;
}

.simple-social-icons li.social-instagram a:hover {
    color: #517fa4 !important;
}

.simple-social-icons li.social-instagram a {
    background-color: #517fa4 !important;
}

.simple-social-icons li.social-linkedin a:hover {
    color: #007bb6 !important;
}

.simple-social-icons li.social-linkedin a {
    background-color: #007bb6 !important;
}

.simple-social-icons li.social-pinterest a {
    border: 2px solid #cb2027 !important;
    color: #cb2027 !important;
}

.simple-social-icons li.social-pinterest a:hover {
    background-color: #cb2027 !important;
}

.simple-social-icons li.social-rss a:hover {
    color: #ff6600 !important;
}

.simple-social-icons li.social-rss a {
    background-color: #ff6600 !important;
}

.simple-social-icons li.social-stumbleupon a {
    border: 2px solid #eb4823 !important;
    color: #eb4823 !important;
}

.simple-social-icons li.social-stumbleupon a:hover {
    background-color: #eb4823 !important;
}

.simple-social-icons li.social-tumblr a {
    border: 2px solid #32506d !important;
    color: #32506d !important;
}

.simple-social-icons li.social-tumblr a:hover {
    background-color: #32506d !important;
}

.simple-social-icons li.social-twitter a:hover {
    color: #00aced !important;
}

.simple-social-icons li.social-twitter a {
    background-color: #00aced !important;
}

.simple-social-icons li.social-vimeo a {
    border: 2px solid #aad450 !important;
    color: #aad450 !important;
}

.simple-social-icons li.social-vimeo a:hover {
    background-color: #aad450 !important;
}

.simple-social-icons li.social-youtube a:hover {
    color: #bb0000 !important;
}

.simple-social-icons li.social-youtube a {
    background-color: #bb0000 !important;
}
