/*Filter panel*/
.single_results_right_sidebar
{
    transition: 0.7s;
    /*position:fixed;*/
    background-color: #fff;
    border: 1px solid #ddd;
    padding:10px;
    z-index:999;
    top:0;
}
/*Hide Filter Panel*/
.single_results_hide_filter
{
    display:none;
}
/*Button to open panel*/
.single_results_button_panel {
    text-align:center;
    z-index:9999;
    background-color:#a6192e;
    color:#FFFFFF;
    cursor:pointer;
    font-size: 13pt;
    padding: 8px 8px 8px 8px;
    white-space: nowrap;
    width: 100%;
    max-width: 180px;
    border: none!important;
    margin: 0 auto;
}
/*Icon "Close" inside the button*/
.single_results_button_panel:after {
    font-family: FontAwesome;
    content: "\f01b";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 20px;
    padding-left: 5px;
    bottom:4px;
}

/*Button to close panel*/
/*.single_results_button_panel_clicked {
    right: 275px;
    margin-left: -30px;
}*/
/*Icon "Close" inside the button*/
.single_results_button_panel_clicked:after {
    content: "\f01a";
    font-family: FontAwesome;
}
.single_results_main_container
{
    transition: 0s;
}
#browse_panel
{
    font-size: 12px;
    background-color: #fff;
    padding: 10px;
}