
.sitemap-section-label {
    border-bottom: 0;
    font-weight: 400;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 21px;
}
.sitemap-section-label:hover {
 color:#a6192e;
}
.sitemap-section {
 margin:0;
 position:relative;
 cursor:pointer;
 list-style-type:none;
 padding-left:15px;
}
.sitemap-section > span {
 position:absolute;
 left:0;
 top:-3px;
 color:#bdbdbd;
 font-size:21px;
 font-weight:bold;
}
.sitemap-section > span:hover {
 color:#a6192e;
}
.sitemap-section .panel {
 margin:5px 0;
 display:none;
}
.sitemap-section .panel.open {
 margin:5px 0;
 display:block;
}
.sitemap-section .panel > ul {
    list-style-type: none;
}
.entry-content .sitemap-section .panel > ul li::before {
    content: "";
    margin: 0;
}
