body.single-syllabi #genesis-content article div.entry-content {    /*border: 1px solid #ccc;    padding: 15px;*/}.syllabi_content_container{    margin: 20px 0 0 0;    border: 1px solid #ccc;    padding: 20px;}